@inject IStringLocalizer<Resource> localizer

<EditForm Model="comment" Context=CommentContext>
    <div class="card mb-4">
        <div class="card-header">@Title</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-12">
                    <label class="mb-1">@localizer["PleaseWriteYourComment"] :)</label>
                    <textarea class="form-control" placeholder="@localizer["CommentText"]..." rows="7"
                              @bind="comment.Text"
                              @bind:event="oninput"
                              maxlength="@MAX_TEXT_COUNT" />
                    @if (MAX_TEXT_COUNT - comment.Text.Count() < 30)
                    {
                        <label>@localizer["RemainingCharactersCount"] : @(MAX_TEXT_COUNT - comment.Text.Count())</label>
                    }
                </div>
            </div>
            <div class="mb-3 gap-2">
                <BaseButtonComponent Caption=@localizer["Send"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=ColorEnum.Primary
                                     Icon=IconEnum.Check
                                     EditContext=CommentContext
                                     OnClick=OnValidSubmit></BaseButtonComponent>
                <a class="btn btn-warning" href="Comment/MyComments">انصراف</a>
            </div>
        </div>
    </div>
</EditForm>
@code {
    const int MAX_TEXT_COUNT = 500;
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public CommentDTO comment { get; set; } = new CommentDTO { Text = String.Empty };
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
