@inject IStringLocalizer<Resource> localizer

<EditForm Model="comment" OnValidSubmit="OnValidSubmit">
    <div class="card mb-4">
        <div class="card-header">@Title</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-12">
                    <label class="small mb-1">@localizer["PleaseWriteYourComment"] :)</label>
                    <textarea class="form-control" placeholder="@localizer["CommentText"]..." rows="7"
                              @bind="comment.Text"
                              @bind:event="oninput"
                              maxlength="@MAX_TEXT_COUNT" />
                    @if (MAX_TEXT_COUNT - comment.Text.Count() < 30)
                    {
                        <label>@localizer["RemainingCharactersCount"] : @(MAX_TEXT_COUNT - comment.Text.Count())</label>
                    }
                </div>
            </div>
            <div class="mb-3 gap-2">
                <button type="submit" class="btn btn-primary" disabled="@IsInProgress">
                    @if (IsInProgress)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <text>@localizer["Progressing"]...</text>
                    }
                    else
                    {
                        <text>تغییر رمز عبور</text>
                    }
                </button>
                <a class="btn btn-warning" href="Comment/MyComments">انصراف</a>
            </div>
        </div>
    </div>
</EditForm>
@code {
    const int MAX_TEXT_COUNT = 500;
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public bool IsInProgress { get; set; } = false;
    [Parameter] public CommentDTO comment { get; set; } = new CommentDTO { Text = String.Empty };
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
