@inject ICommentRepository commentRepository
@inject IStringLocalizer<Resource> localizer

<div class="row col-12">
    @if (allComments == null)
    {
        <Loading IsInTop="false" />
    }
    else if (allComments.Count() == 0)
    {
        <text>@localizer["ThereIsNoComment"]</text>
    }
    else
    {
        @foreach (var comment in allComments)
        {
            <CommentItem CommentText="@comment.Text" UserId="@comment.UserId" FullName="@comment.FullName" CommentDate="@comment.CreateDate" />
        }
    }
</div>

@code {
    IEnumerable<FullCommentDTO> allComments;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            allComments = await commentRepository.GetAllComments();
            StateHasChanged();
        }
    }
}
