@using System.ComponentModel
@inject MetadataTransferService MetadataTransferService
@implements IDisposable

<title>@MetadataTransferService.Title</title>
<meta name="description" content="@MetadataTransferService.Description" />
<meta name="keywords" content="@(String.Join(',',MetadataTransferService.Keywords))" />

<meta property="og:title" content="@MetadataTransferService.Title">
<meta property="og:description" content="@MetadataTransferService.Description">
<meta property="og:image" content="https://dnslab.ir/images/site/site-social-image.png">
<meta property="og:url" content="https://dnslab.ir">

@code {
    protected override void OnInitialized() => MetadataTransferService.PropertyChanged += OnMetadataChanged;

    private void OnMetadataChanged(object sender, PropertyChangedEventArgs e) => this.InvokeAsync(()=> StateHasChanged());

    public void Dispose() => MetadataTransferService.PropertyChanged -= OnMetadataChanged;
}