@inject IStringLocalizer<Resource> localizer
@inject AuthenticationStateProvider auth

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light shadow-sm fixed-top blur-navbar">
    @if (_IsAuthenticated == null)
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <Loading IsInTop="false" />
        </div>
    }
    else if (_IsAuthenticated == true)
    {
        <a class="text-decoration-none auth-user-link" href="dashboard">
            <UserProfileImage Size=37 UserId=@_UserID />
            @_FullName (داشبورد)
        </a>
    }
    else
    {
        <div>
            <BaseNavigateButtonComponent Href="user/register" Text="@localizer["Register"]" Icon="@Icons.Material.Filled.PersonAdd">
            </BaseNavigateButtonComponent>
            <BaseNavigateButtonComponent Href="user/auth" Text="@localizer["Login"]" Icon="@Icons.Material.Filled.Login">
            </BaseNavigateButtonComponent>
        </div>
    }

    <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    @localizer["Home"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="support">
                    راهنمای سایت
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="articles">
                    آموزش
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="api">
                    @localizer["API"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="tools/all">
                    ابزار های سایت
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    درباره ما
                </NavLink>
            </li>
        </ul>
    </div>
</nav>