@inject IStringLocalizer<Resource> localizer;
@inject IHttpContextAccessor httpContextAccessor

<AuthorizeView>
    <NotAuthorized>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container mw-100">
                <a class="navbar-brand text-light" asp-area="" href="/" asp-page="/">IP : @IPDTO.IPv4</a>
                <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> @localizer["Home"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="support">
                                <span class="oi oi-book" aria-hidden="true"></span> راهنمای سایت
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="api">
                                <span class="oi oi-code" aria-hidden="true"></span> @localizer["API"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="user/auth">
                                <span class="oi oi-person" aria-hidden="true"></span> @localizer["Login"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="user/register">
                                <span class="oi oi-pencil" aria-hidden="true"></span> @localizer["Register"]
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter] public IPDTO IPDTO { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}