@inject IStaticsRepository _StaticsRepository
@inject NavigationManager _NavigationManager

<div class="d-inline">
    <BitLabel>
        @if (!String.IsNullOrWhiteSpace(FullName))
        {
            <text>نویسنده :</text>
            <UserProfileImage Size=25 UserId="@UserId.ToString()" />
            <strong>@FullName</strong>
        }
        @if (PublishDate != null)
        {
            <text>انتشار : </text>
            <strong>@PublishDate.Value.CalcRelativeTime().EnglishToPersianNumbers()</strong>
            @if (UpdateDate != null)
            {
                <text> - آخرین ویرایش : </text>
                <strong>@UpdateDate.Value.CalcRelativeTime().EnglishToPersianNumbers()</strong>
            }
        }
        - تعداد بازدید :
        @if (visitCount > -1)
        {
            <strong>@(visitCount.ToString().EnglishToPersianNumbers() + " بار")</strong>
        }
        else
        {
            <BitSpinner Size="BitSpinnerSize.Small" Class="d-inline-block" />
        }
    </BitLabel>
</div>

@code {
    int visitCount = -1;

    [Parameter] public Guid UserId { get; set; }
    [Parameter] public string FullName { get; set; } = String.Empty;
    [Parameter] public DateTime? PublishDate { get; set; }
    [Parameter] public DateTime? UpdateDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        visitCount = await _StaticsRepository.PageVisitCount(new Uri(_NavigationManager.Uri).LocalPath);
    }
}