@page "/dns/AllHostNames"

@inject IDNSRepository dnsRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]

@if (hostNames == null)
{
    <Loading />
}
else
{
    <h4>@localizer["AllHostNames"]</h4>
    <div class="mb-3">
        @foreach (var item in hostNames.OrderByDescending(x => x.CreateDate))
        {
            <hr class="m-1" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-1">
                            <UserProfileImage Size=30 UserId="@item.UserId.ToString()"></UserProfileImage>
                        </div> <div class="col">
                            <BitLabel>@item.FullName</BitLabel>
                        </div>
                        <div class="col">
                            <BitLink Class="text-decoration-none" Href="@($"http://{@item.Name}.{@item.Domain}")" Target="_blank">
                                <BitLabel><code>@item.Name</code>.@item.Domain</BitLabel>
                            </BitLink>
                        </div>
                        <div class="col">
                            <BitLabel Class="d-inline">
                                هدف :
                                <BitLink Class="text-decoration-none">
                                    @switch ((DNSRecordTypeEnum)item.RecordType)
                                    {
                                        case DNSRecordTypeEnum.A:
                                            @item.IPv4Address
                                            break;
                                        case DNSRecordTypeEnum.AAAA:
                                            @item.IPv6Address
                                            break;
                                        case DNSRecordTypeEnum.CNAME:
                                            @item.HostNameAlias
                                            break;
                                        case DNSRecordTypeEnum.WebRedirect:
                                            @item.URLOrIp.MakeCut(20)
                                            break;
                                    }
                                </BitLink>
                            </BitLabel>
                        </div>
                        <BitLabel Class="col">
                            @localizer["Type"] :
                            @((DNSRecordTypeEnum)item.RecordType +
                                ((DNSRecordTypeEnum)item.RecordType == DNSRecordTypeEnum.WebRedirect ?
                                " (" + item.RedirectHttpResponseStatusCode + ")" :
                                String.Empty))
                        </BitLabel>
                    </div>
                </div>
            </div>
        }
        <hr />
        <Pagination CurrentPage=@paginationDTO.Page TotalAmountPages=totalAmountPages SelectedPage=SelectedPage />
    </div>
}