@page "/DNS/Histories"
@inject IDNSRepository dnsRepository

@attribute [Authorize]

@if (dNSChangeHistories == null)
{
    <Loading />
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                @if (dNSChangeHistories.Count == 0)
                {
                    <p>هیج تغییراتی یافت نشد</p>
                }
                else
                {
                    <TimeLine TimeLineHeader="@(dNSChangeHistories.Max(x=> x.UpdateDate == null ? x.CreateDate : x.UpdateDate)!.Value.CalcRelativeTime())"
                      TimeLineFooter="به زودی"
                      Data="@dNSChangeHistories.OrderByDescending(x => x.UpdateDate == null ? x.CreateDate : x.UpdateDate)">
                        <TimeLineItemRenderFragment>
                            <TimeLineItem Header="@($"{context.Name} ({(DNSRecordTypeEnum)context.RecordType})")" DateTime="context.CreateDate">
                                <Body>
                                    @if (context.ARecordHistories != null)
                                @foreach (var x in context.ARecordHistories.OrderByDescending(x => x.CreateDate))
                                        {
                                    <p class="d-inline"><code>@x.IPv4Address</code></p>
                                    <p class="mb-0"><small>@($"{x.CreateDate.ToLocalizerString()} ثبت {(x.UpdateDate == null ? "شده است" : $" و {x.UpdateDate.Value.ToLocalizerString()} ویرایش شده است")}")</small></p>
                                        }
                            @if (context.AAAARecordHistories != null)
                                @foreach (var x in context.AAAARecordHistories.OrderByDescending(x => x.CreateDate))
                                        {
                                    <p class="d-inline"><code>@x.IPv6Address</code></p>
                                    <p class="mb-0"><small>@($"{x.CreateDate.ToLocalizerString()} ثبت {(x.UpdateDate == null ? "شده است" : $" و {x.UpdateDate.Value.ToLocalizerString()} ویرایش شده است")}")</small></p>
                                        }
                            @if (context.CNameRecordHistories != null)
                                @foreach (var x in context.CNameRecordHistories.OrderByDescending(x => x.CreateDate))
                                        {
                                    <p class="d-inline"><code>@x.HostNameAlias</code></p>
                                    <p class="mb-0"><small>@($"{x.CreateDate.ToLocalizerString()} ثبت {(x.UpdateDate == null ? "شده است" : $" و {x.UpdateDate.Value.ToLocalizerString()} ویرایش شده است")}")</small></p>
                                        }
                        </Body>
                    </TimeLineItem>
                </TimeLineItemRenderFragment>
            </TimeLine>
                }
            </div>
        </div>
    </div>
}


@code {
    List<DNSChangeHistoryDTO> dNSChangeHistories;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dNSChangeHistories = (await dnsRepository.GetDNSChangeHistories()).ToList();
            await this.InvokeAsync(() => StateHasChanged());
        }
    }
            }

