@page "/dns/mytokens"

@inject IStringLocalizer<Resource> localizer
@inject IDNSRepository dnsRepository
@inject NavigationManager NavigationManager
@inject IDialogService Dialog


@attribute [Authorize]

@if (tokenSummaries == null)
{
    <Loading />
}
else
{
    <Modal @ref="DeleteModal">
        <Title>
            <BitLabel>@localizer["AreYouSureDel"]</BitLabel>
        </Title>
        <Body>
            <BitLabel>@localizer["TokenName"] : @deleteRcord.Name </BitLabel>
        </Body>
        <Footer>
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Warning
                             Icon=@Icons.Material.Filled.Cancel
                             OnClick=DeleteModal.Close />
            <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Error
                             Icon=@Icons.Material.Filled.Delete
                             OnClick=AcceptDelete />
        </Footer>
    </Modal>
    <h4>@localizer["Tokens"]</h4>
    <div class="mb-3">
        <BaseNavigateButtonComponent Href="dns/createtoken"
                                 Text="@(localizer["CreateToken"])">
        </BaseNavigateButtonComponent>
    </div>
    <div class="mb-3">

        @if (tokenSummaries.Count() == 0)
        {
            <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                <BitLabel>@localizer["ThereIsNoTokens"]</BitLabel>
            </BitMessageBar>
        }
        else
        {
            @foreach (var item in tokenSummaries.OrderByDescending(x => x.CreateDate))
            {
                <hr class="m-1" />
                <div class="row">
                    <div class="row col-lg-9 col-sm-auto align-items-center">
                        <div class="col-lg-3 col-sm-12">
                            <BitLabel>@localizer["TokenName"] : @item.Name</BitLabel>
                        </div>
                        <div class="col">
                            <BitLabel Class="small m-0">@localizer["CreateDate"] : @item.CreateDate.ToLocalizerString()</BitLabel>
                            @if (@item.UpdateDate != null)
                            {
                                <BitLabel Class="small m-0">@localizer["UpdateDate"] : @item.UpdateDate.Value.ToLocalizerString()</BitLabel>
                            }
                        </div>
                        <div class="col">
                            <BitLabel>@localizer["HostNamesCount"] : @item.HostNameCount</BitLabel>
                        </div>
                    </div>
                    <div class="col">
                        <BaseButtonComponent Caption=@localizer["Details"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Primary
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.MoreHoriz
                                 OnClick=@(()=>OpenToken(item)) />
                        <BaseButtonComponent Caption=@localizer["Edit"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Warning
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.Edit
                                 OnClick=@(()=>EditToken(item)) />
                        <BaseButtonComponent Caption=@localizer["Delete"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Error
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.Delete
                                 OnClick=@(()=>DeleteToken(item)) />
                    </div>
                </div>
            }
            <hr class="m-1" />
        }
        <BitMessageBar MessageBarType="BitMessageBarType.Info">
            <BitLabel>برای اطلاعات بیشتر لطفا <BitLink Href="Support/Create-New-Token-For-DNS" Target="_blank">این مطلب</BitLink> را مطالعه فرمایید</BitLabel>
        </BitMessageBar>
    </div>
}