@page "/dns/mytokens"

@inject IStringLocalizer<Resource> localizer
@inject IDNSRepository dnsRepository
@inject NavigationManager NavigationManager
@inject IDialogService Dialog


@attribute [Authorize]

@if (tokenSummaries == null)
{
    <Loading />
}
else
{


    <h4>@localizer["Tokens"]</h4>
    <div class="mb-3">
        <BaseNavigateButtonComponent Href="dns/createtoken"
                                 Text="@(localizer["CreateToken"])">
        </BaseNavigateButtonComponent>
    </div>
    <div class="mb-3">

        @if (tokenSummaries.Count() == 0)
        {
            <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                <BitLabel>@localizer["ThereIsNoTokens"]</BitLabel>
            </BitMessageBar>
        }
        else
        {
            @foreach (var item in tokenSummaries.OrderByDescending(x => x.CreateDate))
            {
                <hr class="m-1" />
                <div class="row">
                    <div class="row col-lg-9 col-sm-auto align-items-center">
                        <div class="col-lg-3 col-sm-12">
                            <BitLabel>@localizer["TokenName"] : @item.Name</BitLabel>
                        </div>
                        <div class="col">
                            <BitLabel Class="small m-0">@localizer["CreateDate"] : @item.CreateDate.ToLocalizerString()</BitLabel>
                            @if (@item.UpdateDate != null)
                            {
                                <BitLabel Class="small m-0">@localizer["UpdateDate"] : @item.UpdateDate.Value.ToLocalizerString()</BitLabel>
                            }
                        </div>
                        <div class="col">
                            <BitLabel>@localizer["HostNamesCount"] : @item.HostNameCount</BitLabel>
                        </div>
                    </div>
                    <div class="col">
                        <BaseButtonComponent Caption=@localizer["Details"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Primary
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.MoreHoriz
                                 OnClick=@(()=>OpenToken(item)) />
                        <BaseButtonComponent Caption=@localizer["Edit"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Warning
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.Edit
                                 OnClick=@(()=>EditToken(item)) />
                        <BaseButtonComponent Caption=@localizer["Delete"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Error
                                 IsOutLine=true
                                 Icon=@Icons.Material.Filled.Delete
                                 OnClick=@(()=>DeleteToken(item)) />
                    </div>
                </div>
            }
            <hr class="m-1" />
        }
        <BitMessageBar MessageBarType="BitMessageBarType.Info">
            <BitLabel>برای اطلاعات بیشتر لطفا <BitLink Href="Support/Create-New-Token-For-DNS" Target="_blank">این مطلب</BitLink> را مطالعه فرمایید</BitLabel>
        </BitMessageBar>
    </div>
}

<MudDialog Options="dialogOptions" @bind-IsVisible="showTokenDetails">
    <TitleContent>
        <MudText Typo="Typo.h3">@localizer["TokenName"] : @token.Name </MudText>
    </TitleContent>
    <DialogContent>

        @if (@isRevoking)
        {
            <MudText>توکن قبل غیر فعال و توکن جدید ایجاد خواهد شد</MudText>
            <BaseButtonComponent Caption=@localizer["Continue"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=@Icons.Material.Filled.Refresh
                             Color="Color.Warning"
                             OnClick=ContinueRevokeKey />
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=@Icons.Material.Filled.Cancel
                             OnClick=ChangeRevokeStatus />
        }
        else
        {
            <BitLabel>@localizer["TokenKey"] : <code>@token.Key</code></BitLabel>
            <BaseButtonComponent Caption=@localizer["RevokeKey"]
                             IsBussyCaption=@localizer["Progressing"]
                             IsOutLine=true
                             Color=Color.Error
                             Icon=@Icons.Material.Filled.Refresh
                             OnClick=ChangeRevokeStatus />
        }

        <MudDivider />

        <MudText>برای بروزرسانی IP هاست نِیم های متصل به این توکن میتوانید بدون نیاز به نصب برنامه روی سیستم عامل خود ، دستورات زیر را در استارت آپ سیستم عامل خود قرار دهید قرار دهید</MudText>
        <MudDivider />
        <MudText>فایل های زیر با پسوند .sh هستند برای بروزرسانی آی پی با تکرار 5 دقیقه که با دو کتابخانه wget و cURL در دسترس میباشد</MudText>
        <BaseNavigateButtonComponent Text="دانلود فایل sh. (wget)"
                                     Target="_blank"
                                     Href="@($"https://api.dnslab.link/DNS/shell/wget?tokenId={token.Id}&key={token.Key}")" />
        <BaseNavigateButtonComponent Text="دانلود فایل sh. (curl)"
                                     Target="_blank"
                                     Href="@($"https://api.dnslab.link/DNS/shell/curl?tokenId={token.Id}&key={token.Key}")" />
        <MudDivider />
        <MudText>فایل زیر با پسوند .ps1 هستند برای بروزرسانی آی پی با تکرار 5 دقیقه که با دو کتابخانه RestMethod در دسترس میباشد</MudText>
        <BaseNavigateButtonComponent Text="دانلود فایل ps1. (RestMethod)"
                                     Target="_blank"
                                     Href="@($"https://api.dnslab.link/DNS/powershell/restmethod?tokenId={token.Id}&key={token.Key}")" />
        <MudDivider />
        <MudText>لینک بروزرسانی آی پی های توکن</MudText>
        <MudText>
            https://api.dnslab.link/DNS/UDIBT?k=@token.Key
            <CopyToClipboard Text=@("https://api.dnslab.link/DNS/UDIBT?k=" + @token.Key) />
        </MudText>
        <MudAlert Severity="Severity.Warning" Dense=true ContentAlignment="HorizontalAlignment.Start">
            این آدرس در هر جایی فراخوانی شود آی پی سیستم جایگزین خواهد شد
        </MudAlert>
    </DialogContent>
</MudDialog>

<MudDialog @bind-IsVisible=showDeleteToken>
    <TitleContent>
        <BitLabel>@localizer["AreYouSureDel"]</BitLabel>
    </TitleContent>
    <DialogContent>
        <BitLabel>@localizer["TokenName"] : @deleteRcord.Name </BitLabel>
    </DialogContent>
    <DialogActions>
        <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Warning
                             Icon=@Icons.Material.Filled.Cancel
                             OnClick=@(() =>showDeleteToken=false) />
        <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Error
                             Icon=@Icons.Material.Filled.Delete
                             OnClick=AcceptDelete />
    </DialogActions>
</MudDialog>