@inject IDNSRepository dnsRepository
@inject IStringLocalizer<Resource> localizer

<EditForm Model="TokenAndDNS" Context=TokenContext>
    <Page Header="@Title">
        <Body>
            <DataAnnotationsValidator />
            <MudTextField Label="@localizer["TokenName"]" Placeholder="@localizer["EnterYourTokenName"]" Variant="Variant.Outlined" @bind-Value="@TokenAndDNS.Name" />
            <MudDivider />
            <MudText Typo="Typo.h4">@localizer["SelectDNSTitle"]</MudText>
            <MudAlert Severity=Severity.Info ContentAlignment="HorizontalAlignment.Start">
                <MudText>@localizer["SelectDNSDescription"]</MudText>
            </MudAlert>
            @if (HostSummariesAndChecked == null)
            {
                <Loading IsInTop="false" />
            }
            else if (HostSummariesAndChecked.Count == 0)
            {
                <MudAlert Severity="Severity.Warning">
                    <MudText>@localizer["YouHaveNoActiveDNS"] <BitLink Href="dns/create">@localizer["Click"]</BitLink></MudText>
                </MudAlert>
            }
            else
            {
                @foreach (var item in HostSummariesAndChecked)
                {
                    <MudCheckBox @bind-Checked="@item.IsChecked" Label="@item.Address" Color="Color.Primary" />
                }
            }
        </Body>
        <Actions>
            <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 Color=Color.Primary
                                 Icon=@Icons.Material.Filled.Save
                                 EditContext=TokenContext
                                 OnClick=OnValidSubmit></BaseButtonComponent>
            <BaseNavigateButtonComponent Text=@localizer["Cancel"]
                                         Icon=@Icons.Material.Filled.Cancel
                                         Color="Color.Secondary"
                                         Href="DNS/MyTokens"></BaseNavigateButtonComponent>
        </Actions>
    </Page>
</EditForm>