@inject IDNSRepository dnsRepository

@inject IStringLocalizer<Resource> localizer

<EditForm Model="TokenAndDNS" Context=TokenContext>
    <DataAnnotationsValidator />
    <div class="card mb-4">
        <div class="card-header">@Title</div>
        <div class="card-body">

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (first name)-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="small mb-1">@localizer["TokenName"]</label>
                    <InputText class="form-control" placeholder="@localizer["EnterYourTokenName"]" @bind-Value="@TokenAndDNS.Name" required />
                    <ValidationMessage class="invalid-feedback" For="@(()=> TokenAndDNS.Name)" />
                </div>
                <!-- Form Group (last name)-->
                <hr class="my-2" />
                <div class="col-12">
                    <p>@localizer["SelectDNSTitle"]</p>
                    <p class="alert alert-info">@localizer["SelectDNSDescription"]</p>
                    <div class="row g-2">
                        @if (HostSummariesAndChecked == null)
                        {
                            <Loading IsInTop="false" />
                        }
                        else if (HostSummariesAndChecked.Count == 0)
                        {
                            <p>@localizer["YouHaveNoActiveDNS"] <a href="dns/create">@localizer["Click"]</a></p>
                        }
                        else
                        {
                            @foreach (var item in HostSummariesAndChecked)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="border p-3">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="@item.Id.ToString().Replace("-",String.Empty)" checked="@item.IsChecked" @onchange="(e) => FilterChangedBrand(item, e)">
                                            <label class="form-check-label" for="@item.Id.ToString().Replace("-",String.Empty)">@item.Address</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <BaseButtonComponent Caption=@localizer["SaveChanges"]
                         IsBussyCaption=@localizer["Progressing"]
                         Color=ColorEnum.Primary
                         Icon=IconEnum.Check
                         EditContext=TokenContext
                         OnClick=OnValidSubmit></BaseButtonComponent>
</EditForm>

@code {
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public TokenAndDNSDTO TokenAndDNS { get; set; }
    [Parameter] public List<HostSummaryAndCheckedDTO> HostSummariesAndChecked { get; set; }


    [Parameter] public EventCallback OnValidSubmit { get; set; }


    public event Action<List<HostSummaryAndCheckedDTO>> FiltersChanged;

    private void FilterChangedBrand(HostSummaryAndCheckedDTO item, ChangeEventArgs e)
    {
        item.IsChecked = !item.IsChecked;
        if (item.IsChecked)
        {
            if (!TokenAndDNS.HostNameIds.Any(x => x == item.Id))
                TokenAndDNS.HostNameIds.Add(item.Id);
        }
        else
        {
            if (TokenAndDNS.HostNameIds.Any(x => x == item.Id))
                TokenAndDNS.HostNameIds.Remove(item.Id);
        }
        FiltersChanged?.Invoke(HostSummariesAndChecked);
    }
}