@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" @ref="_mudThemeProvider" IsDarkMode="_isDarkMode" />

<MudRTLProvider RightToLeft>
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudDivider Vertical="true" FlexItem="true" Class="my-4 mx-2" />
            <DNSLab.Components.Pages.Subscriptions.BuySubscriptionButton />
            <MudDivider Vertical="true" FlexItem="true" Class="my-4 mx-2" />
            <MudIconButton Href="https://github.com/AkbarAsghari/DNSLab-WebSite"
                           Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Color="Color.Inherit" />
        </MudAppBar>
        <CascadingValue Value="@IPDTO">
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <NavMenu />
            </MudDrawer>
            <MudMainContent Class="mt-16 pa-4">
                <MudContainer MaxWidth="MaxWidth.Large">
                    @Body
                </MudContainer>
            </MudMainContent>
        </CascadingValue>
    </MudLayout>
</MudRTLProvider>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
