@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudRTLProvider RightToLeft>
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudLink Href="/" Underline="Underline.None">
                <MudStack AlignItems="AlignItems.Center" Row>
                    <MudText Align="Align.Center" Typo="Typo.h3">
                        DNSLab
                    </MudText>
                    <MudImage Src="favicon.ico" ObjectFit="ObjectFit.Cover"></MudImage>
                </MudStack>
            </MudLink>
            <MudSpacer />
            <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
            <MudDivider Vertical="true" FlexItem="true" Class="my-4 mx-2" />
            <DNSLab.Components.Pages.Subscriptions.BuySubscriptionButton />
            <MudDivider Vertical="true" FlexItem="true" Class="my-4 mx-2" />
            <MudIconButton Href="https://github.com/AkbarAsghari/DNSLab-WebSite"
                           Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Color="Color.Inherit" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>
        <MudMainContent Class="mt-16 pa-4">
            <CascadingValue Value="@IPDTO">
                @Body
            </CascadingValue>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
