@page "/Page/MyPages"

@inject IPageRepository _PageRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@attribute [Authorize(Roles = "Admin,Writer")]

@if (pageSummaries == null)
{
    <Loading />
}
else
{
    <Modal @ref="pageModal">
        <Title>
            <BitLabel>
                @if (modalForDeletePage)
                {
                    @localizer["AreYouSureDel"]
                }
                else
                {
                    @localizer["AreYouWantToPublish"]
                }
            </BitLabel>
        </Title>
        <Body>
            <BitLabel>@localizer["Title"] : @modalRecord.Title </BitLabel>
        </Body>
        <Footer>
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=@Icons.Material.Filled.Cancel
                             OnClick=pageModal.Close></BaseButtonComponent>
            @if (modalForDeletePage)
            {
                <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Error
                             Icon=@Icons.Material.Filled.Delete
                             OnClick=AcceptDelete></BaseButtonComponent>
            }
            else
            {
                <BaseButtonComponent Caption=@localizer["Publish"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=Color.Primary
                             Icon=@Icons.Material.Filled.Publish
                             OnClick=AcceptPublish></BaseButtonComponent>
            }

        </Footer>
    </Modal>

    <h4>@localizer["AllPages"]</h4>
    <div class="mb-3">
        <BaseNavigateButtonComponent Href="Page/Create"
                                 Text="@(localizer["Create New Page"])">
        </BaseNavigateButtonComponent>
    </div>
    <div class="mb-3">
        @if (pageSummaries.Count() == 0)
        {
            <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                <BitLabel>@localizer["ThereIsNoPages"]</BitLabel>
            </BitMessageBar>
        }
        else
        {
            @foreach (var item in pageSummaries.OrderByDescending(x => x.CreateDate))
            {
                <hr class="m-1" />
                <div class="row">
                    <div class="col-md-10">
                        <BitLabel Class=" text-muted small m-0">@(@localizer["CreateDate"] + ":" + @item.CreateDate.ToLocalizerString()) @(@item.UpdateDate != null ? (@localizer["UpdateDate"] + ":" + @item.UpdateDate.Value.ToLocalizerString()) : String.Empty)</BitLabel>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <BitLink Class="text-decoration-none" Href="@($"https://dnslab.link/{item.PageType}/{item.URL}")" Target="_blank">
                                            <BitLabel>dnslab.link/<code><strong>@item.PageType</strong></code><code>@($"/{@item.URL}")</code></BitLabel>
                                        </BitLink>
                                    </div>
                                    <div class="col-md-6">
                                        <BitLabel>@item.Title</BitLabel>
                                    </div>
                                </div>
                                <BitLabel Class="col-md-12 text-truncate">@item.Description</BitLabel>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-1">
                            <BaseButtonComponent Caption=@localizer["Edit"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=Color.Warning
                                     Icon=@Icons.Material.Filled.Edit
                                     OnClick=@(()=>EditPage(item)) />
                        </div>
                        <div class="row p-1">
                            <BaseButtonComponent Caption=@localizer["Delete"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=Color.Error
                                     Icon=@Icons.Material.Filled.Delete
                                     OnClick=@(()=>DeletePage(item)) />
                        </div>
                        <div class="row p-1">
                            @if (!item.IsPublieshed)
                            {
                                <BaseButtonComponent Caption=@localizer["Publish"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=Color.Primary
                                     Icon=@Icons.Material.Filled.Publish
                                     OnClick=@(()=>PublishPage(item)) />
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}