@page "/Page/MyPages"

@inject IPageRepository _PageRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager
@inject ToastService toastService

@attribute [Authorize(Roles = "Admin,Writer")]

@if (pageSummaries == null)
{
    <Loading />
}
else
{
    <Modal @ref="pageModal">
        <Title>
            <BitLabel>
                @if (modalForDeletePage)
                {
                    @localizer["AreYouSureDel"]
                }
                else
                {
                    @localizer["AreYouWantToPublish"]
                }
            </BitLabel>
        </Title>
        <Body>
            <BitLabel>@localizer["Title"] : @modalRecord.Title </BitLabel>
        </Body>
        <Footer>
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=BitIconName.Cancel
                             OnClick=pageModal.Close></BaseButtonComponent>
            @if (modalForDeletePage)
            {
                <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Danger
                             Icon=BitIconName.Delete
                             OnClick=AcceptDelete></BaseButtonComponent>
            }
            else
            {
                <BaseButtonComponent Caption=@localizer["Publish"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Primary
                             Icon=BitIconName.PublishContent
                             OnClick=AcceptPublish></BaseButtonComponent>
            }

        </Footer>
    </Modal>
    <div class="card mb-4">
        <div class="card-header"><BitLabel>@localizer["AllPages"]</BitLabel></div>
        <div class="card-body">
            <div class="mb-3">
                <BaseNavigateButtonComponent Href="Page/Create"
                                         Text="@(localizer["Create New Page"])">
                </BaseNavigateButtonComponent>
            </div>
            <div class="mb-3">
                @if (pageSummaries.Count() == 0)
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                        <BitLabel>@localizer["ThereIsNoPages"]</BitLabel>
                    </BitMessageBar>
                }
                else
                {
                    @foreach (var item in pageSummaries.OrderByDescending(x => x.CreateDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-md-10">
                                <BitLabel Class=" text-muted small m-0">@(@localizer["CreateDate"] + ":" + @item.CreateDate.ToLocalizerString()) @(@item.UpdateDate != null ? (@localizer["UpdateDate"] + ":" + @item.UpdateDate.Value.ToLocalizerString()) : String.Empty)</BitLabel>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <BitLink Class="text-decoration-none" Href="@($"https://dnslab.ir/{item.PageType}/{item.URL}")" Target="_blank">
                                                    <BitLabel>dnslab.ir/<code><strong>@item.PageType</strong></code><code>@($"/{@item.URL}")</code></BitLabel>
                                                </BitLink>
                                            </div>
                                            <div class="col-md-6">
                                                <BitLabel>@item.Title</BitLabel>
                                            </div>
                                        </div>
                                        <BitLabel class="col-md-12">@item.Description</BitLabel>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row p-1">
                                    <BaseButtonComponent Caption=@localizer["Edit"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Warning
                                             Icon=BitIconName.Edit
                                             OnClick=@(()=>EditPage(item)) />
                                </div>
                                <div class="row p-1">
                                    <BaseButtonComponent Caption=@localizer["Delete"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Danger
                                             Icon=BitIconName.Delete
                                             OnClick=@(()=>DeletePage(item)) />
                                </div>
                                <div class="row p-1">
                                    @if (!item.IsPublieshed)
                                    {
                                        <BaseButtonComponent Caption=@localizer["Publish"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Primary
                                             Icon=BitIconName.PublishContent
                                             OnClick=@(()=>PublishPage(item)) />
                                    }
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

}

@code {
    IEnumerable<PageSummaryDTO> pageSummaries;

    Modal pageModal { get; set; }
    bool modalForDeletePage { get; set; }
    PageSummaryDTO modalRecord { get; set; } = new PageSummaryDTO();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadPages();
            await this.InvokeAsync(() => StateHasChanged());
        }
    }

    private async Task LoadPages()
    {
        pageSummaries = await _PageRepository.GetAllPagesSummary();
    }

    private async Task AcceptDelete()
    {
        if (modalRecord != null)
        {
            if (await _PageRepository.DeletePage(modalRecord.Id))
            {
                await pageModal.Close();
                pageSummaries = pageSummaries.Where(x => x.Id != modalRecord.Id).ToList();
            }
        }
        modalRecord = new PageSummaryDTO();
    }

    private async Task AcceptPublish()
    {
        if (modalRecord != null)
        {
            if (await _PageRepository.PublishPage(modalRecord.Id))
            {
                await pageModal.Close();
                pageSummaries.First(x => x.Id == modalRecord.Id).IsPublieshed = true;
                toastService.ShowToast(localizer["PublishedSuccess"], ToastLevel.Success);
            }
        }
        modalRecord = new PageSummaryDTO();
    }

    private async Task DeletePage(PageSummaryDTO record)
    {
        modalForDeletePage = true;
        modalRecord = record;
        await pageModal.Open();
    }

    private async Task PublishPage(PageSummaryDTO record)
    {
        modalForDeletePage = false;
        modalRecord = record;
        await pageModal.Open();
    }

    private async Task EditPage(PageSummaryDTO record)
    {
        NavigationManager.NavigateTo("Page/Edit/" + record.Id);
    }
}