@page "/Page/MyPages"

@inject IPageRepository _PageRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager
@inject ToastService toastService

@attribute [Authorize(Roles = "Admin,Writer")]

@if (pageSummaries == null)
{
    <Loading />
}
else
{
    <Modal @ref="pageModal">
        <Title>
            <label>
                @if (modalForDeletePage)
                {
                    @localizer["AreYouSureDel"]
                }
                else
                {
                    @localizer["AreYouWantToPublish"]
                }
            </label>
        </Title>
        <Body>
            <label>@localizer["Title"] : @modalRecord.Title </label>
        </Body>
        <Footer>
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Warning
                             OnClick=pageModal.Close></BaseButtonComponent>
            @if (modalForDeletePage)
            {
                <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Danger
                             Icon=IconEnum.Trash
                             OnClick=AcceptDelete></BaseButtonComponent>
            }
            else
            {
                <BaseButtonComponent Caption=@localizer["Publish"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Primary
                             Icon=IconEnum.Data_Transfer_Upload
                             OnClick=AcceptPublish></BaseButtonComponent>
            }

        </Footer>
    </Modal>
    <div class="card mb-4">
        <div class="card-header">@localizer["AllPages"]</div>
        <div class="card-body">
            <div class="mb-3">
                <a class="btn btn-primary" href="Page/Create">@localizer["Create New Page"]</a>
            </div>
            <div class="mb-3">
                @if (pageSummaries.Count() == 0)
                {
                    <div class="note warning">
                        <p>@localizer["ThereIsNoPages"]</p>
                    </div>
                }
                else
                {
                    @foreach (var item in pageSummaries.OrderByDescending(x => x.CreateDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-md-10">
                                <p class=" text-muted small m-0">@(@localizer["CreateDate"] + ":" + @item.CreateDate.ToLocalizerString()) @(@item.UpdateDate != null ? (@localizer["UpdateDate"] + ":" + @item.UpdateDate.Value.ToLocalizerString()) : String.Empty)</p>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="text-decoration-none" href="@($"https://dnslab.ir/{item.PageType}/{item.URL}")" target="_blank">
                                                    <p>dnslab.ir/<code><strong>@item.PageType</strong></code><code>@($"/{@item.URL}")</code></p>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@item.Title</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="col-md-12">@item.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row p-1">
                                    <BaseButtonComponent Caption=@localizer["Edit"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Warning
                                             Icon=IconEnum.Pencil
                                             OnClick=@(()=>EditPage(item)) />
                                </div>
                                <div class="row p-1">
                                    <BaseButtonComponent Caption=@localizer["Delete"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Danger
                                             Icon=IconEnum.Trash
                                             OnClick=@(()=>DeletePage(item)) />
                                </div>
                                <div class="row p-1">
                                    @if (!item.IsPublieshed)
                                    {
                                        <BaseButtonComponent Caption=@localizer["Publish"]
                                             IsBussyCaption=@localizer["Progressing"]
                                             Color=ColorEnum.Primary
                                             Icon=IconEnum.Data_Transfer_Upload
                                             OnClick=@(()=>PublishPage(item)) />
                                    }
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

}

@code {
    IEnumerable<PageSummaryDTO> pageSummaries;

    Modal pageModal { get; set; }
    bool modalForDeletePage { get; set; }
    PageSummaryDTO modalRecord { get; set; } = new PageSummaryDTO();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadPages();
            await this.InvokeAsync(() => StateHasChanged());
        }
    }

    private async Task LoadPages()
    {
        pageSummaries = await _PageRepository.GetAllPagesSummary();
    }

    private async Task AcceptDelete()
    {
        if (modalRecord != null)
        {
            if (await _PageRepository.DeletePage(modalRecord.Id))
            {
                await pageModal.Close();
                await LoadPages();
            }
        }
        modalRecord = new PageSummaryDTO();
    }

    private async Task AcceptPublish()
    {
        if (modalRecord != null)
        {
            if (await _PageRepository.PublishPage(modalRecord.Id))
            {
                await pageModal.Close();
                pageSummaries.First(x => x.Id == modalRecord.Id).IsPublieshed = true;
                toastService.ShowToast(localizer["PublishedSuccess"],ToastLevel.Success);
            }
        }
        modalRecord = new PageSummaryDTO();
    }

    private async Task DeletePage(PageSummaryDTO record)
    {
        modalForDeletePage = true;
        modalRecord = record;
        await pageModal.Open();
    }

    private async Task PublishPage(PageSummaryDTO record)
    {
        modalForDeletePage = false;
        modalRecord = record;
        await pageModal.Open();
    }

    private async Task EditPage(PageSummaryDTO record)
    {
        NavigationManager.NavigateTo("Page/Edit/" + record.Id);
    }
}