@inject IStringLocalizer<Resource> localizer

<EditForm Model="Page" Context=CommentContext>
    <div class="card mb-4">
        <div class="card-header">@Title</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-sm-12 col-md-6">
                    <label for="body">@localizer["PageType"]</label>
                    <InputSelect class="form-control dir-ltr mt-1" @bind-Value="@Page.PageType">
                        @foreach (var pageType in Enum.GetValues(typeof(PageTypeEnum)))
                        {
                            <option value="@pageType">@pageType</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => @Page.PageType)" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <label class="mb-1">@localizer["URL"]</label>
                    <InputText class="form-control dir-ltr" 
                    placeholder="@localizer["EnterURL"]" 
                    @bind-Value="Page.URL" required
                    disabled="@(Page.PublishDate != null &&  Page.PublishDate.Value.AddHours(3) < DateTime.UtcNow)"
                    />
                    <ValidationMessage class="invalid-feedback" For="@(()=> Page.URL)" />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Title"]</label>
                    <InputText class="form-control" placeholder="@localizer["EnterTitle"]" @bind-Value="Page.Title" required />
                    <ValidationMessage class="invalid-feedback" For="@(()=> Page.Title)" />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Description"]</label>
                    <InputText class="form-control" placeholder="@localizer["EnterDescription"]" @bind-Value="Page.Description" required />
                    <ValidationMessage class="invalid-feedback" For="@(()=> Page.Description)" />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Tags"]</label>
                    <TagsInput Tags="@Page.Keywords"></TagsInput>
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Header"]</label>
                    <InputText class="form-control" placeholder="@localizer["EnterHeader"]" @bind-Value="Page.Header" required />
                    <ValidationMessage class="invalid-feedback" For="@(()=> Page.Header)" />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Content"]</label>
                    <TextEditor @bind-Value=@Page.Body></TextEditor>
                </div>
            </div>
            <div class="mb-3 gap-2">
                <BaseButtonComponent Caption=@localizer["Save"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=ColorEnum.Primary
                                     Icon=IconEnum.Check
                                     EditContext=CommentContext
                                     OnClick=OnValidSubmit></BaseButtonComponent>
                <a class="btn btn-warning" href="Page/MyPages">انصراف</a>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter] public string Title { get; set; }

    [Parameter]
    public PageDTO Page { get; set; } = new PageDTO
        {
            URL = String.Empty,
            Title = String.Empty,
            Description = String.Empty,
            Keywords = new List<string>(),
            Body = "مطلب خود را در اینجا بنویسید.",
        };

    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
