@inject IStringLocalizer<Resource> localizer

<EditForm Model="Page" Context=PageContext>
    <div class="card mb-4">
        <div class="card-header"><BitLabel>@Title</BitLabel></div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-sm-12 col-md-6">
                    <BitDropDown Label="@localizer["PageType"]"
                                 @bind-Value=selectedPageType
                                 IsEnabled=@(Page.PublishDate == null || Page.PublishDate.Value.AddHours(3) > DateTime.UtcNow)
                                 Items="GetPageTypeItems()">
                    </BitDropDown>
                </div>
                <div class="col-sm-12 col-md-6">
                    <BitTextField Class="dir-ltr"
                                  Label="@localizer["URL"]"
                                  Placeholder="@localizer["EnterURL"]"
                                  @bind-Value="Page.URL"
                                  IsRequired
                                  IsEnabled=@(Page.PublishDate == null || Page.PublishDate.Value.AddHours(3) > DateTime.UtcNow) />
                </div>
                <div class="col-12">
                    <BitTextField Label="@localizer["Title"]"
                                  Placeholder="@localizer["EnterTitle"]"
                                  @bind-Value="Page.Title" IsRequired />
                </div>
                <div class="col-12">
                    <BitTextField Label="@localizer["Description"]"
                                  Placeholder="@localizer["EnterDescription"]"
                                  @bind-Value="Page.Description" IsRequired />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Tags"]</label>
                    <TagsInput Tags="@Page.Keywords"></TagsInput>
                </div>
                <div class="col-12">
                    <label class="mb-1"></label>
                    <BitTextField Label="@localizer["Header"]"
                                  Placeholder="@localizer["EnterHeader"]"
                                  @bind-Value="Page.Header" IsRequired />
                </div>
                <div class="col-12">
                    <label class="mb-1">@localizer["Content"]</label>
                    <TextEditor @bind-Value=@Page.Body></TextEditor>
                </div>
            </div>
            <div class="mb-3 gap-2">
                <BaseButtonComponent Caption=@localizer["Save"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     Color=ColorEnum.Primary
                                     Icon=BitIconName.Save
                                     EditContext=PageContext
                                     OnClick=OnValidSubmit></BaseButtonComponent>
                <BaseNavigateButtonComponent Href="Page/MyPages"
                                             Text="@localizer["Cancel"]"
                                             Icon=BitIconName.Cancel></BaseNavigateButtonComponent>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter] public string Title { get; set; }

    string selectedPageType
    {
        get
        {
            return Page.PageType.ToString();
        }
        set
        {
            if (value == null)
                value = PageTypeEnum.Article.ToString();
            Page.PageType = (PageTypeEnum)System.Enum.Parse(typeof(PageTypeEnum), value);
        }
    }

    private List<BitDropDownItem> GetPageTypeItems()
    {
        List<BitDropDownItem> result = new List<BitDropDownItem>();
        foreach (var item in Enum.GetValues(typeof(PageTypeEnum)))
            result.Add(new BitDropDownItem { Text = item.ToString()!, Value = item.ToString()! });
        return result;
    }

    [Parameter]
    public PageDTO Page { get; set; } = new PageDTO
        {
            URL = String.Empty,
            Title = String.Empty,
            Description = String.Empty,
            Keywords = new List<string>(),
            PageType = PageTypeEnum.Article,
            Body = "مطلب خود را در اینجا بنویسید.",
        };

    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
