@page "/user/AllUsers"
@inject IAccountRepository accountReository

@attribute [Authorize(Roles = "Admin")]

@if (allUsers == null)
{
    <Loading />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in allUsers)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Mobile</td>
                    <td>@user.CreateDate</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<UserDTO> allUsers;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            allUsers = await accountReository.GetAll();
            await this.InvokeAsync(()=> StateHasChanged());
        }
    }
}
