@page "/user/auth"

@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject IAuthService authService
@inject IStringLocalizer<Resource> localizer

<div class="container-xl mt-5">
    <div class="row">

        <EditForm class="container-sm mt-4 col-lg-4" Model=user Context="AuthContext">
            <DataAnnotationsValidator />
            <div class="card mb-4">
                <div class="card-header">@localizer["Login"]</div>
                <div class="card-body">

                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1">@localizer["UsernameOrEmail"]</label>
                        <InputText class="form-control" placeholder="@localizer["UsernameOrEmail"]" @bind-Value="@user.UsernameOrEmail" required />
                        <ValidationMessage class="invalid-feedback" For="@(()=> user.UsernameOrEmail)" />
                    </div>
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1">@localizer["Password"]</label>
                        <InputPassword class="form-control" @bind-Value="@user.Password" required />
                        <ValidationMessage class="invalid-feedback" For="@(()=> user.Password)" />
                    </div>
                    <BaseButtonComponent Caption=@localizer["Login"]
                                         IsBussyCaption=@localizer["Loading"]
                                         CssClass="col-12"
                                         Color=ColorEnum.Primary
                                         Icon=IconEnum.Account_Login
                                         EditContext=AuthContext
                                         OnClick=AuthUser></BaseButtonComponent>
                    <div class="mt-3">
                        <a href="user/ForgetPassword" class="text-center text-decoration-none text-muted">رمز خودتو فراموش کردی؟</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private AuthenticateDTO user = new AuthenticateDTO();
    private async Task AuthUser()
    {
        var userToken = await accountReository.Login(user);
        if (!String.IsNullOrEmpty(userToken))
        {
            await authService.Login(userToken);
            navigationManager.NavigateTo("Dashboard");
        }
    }
}
