@page "/user/info"

@using DNSLab.DTOs.User
@using DNSLab.Interfaces.Auth
@using DNSLab.Interfaces.Repository

@inject IAccountRepository accountReository
@inject ToastService toastService
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["SEO_UserInfoTitle"]</PageTitle>
<meta name="description" content="@localizer["SEO_UserInfoDescription"]" />
<meta name="keywords" content="@localizer["SEO_UserInfoKeyWords"]" />

@if (userInfo == null)
{
    <Loading />
}
else
{
    <AuthorizeView Context="authViewContext">
        <Authorized>

            <div class="card mb-4">
                <div class="row">
                    <div class="col-xl-6">
                        <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                            <div class="card-header">@localizer["ProfilePicture"]</div>
                            <div class="card-body text-center">
                                <UserProfileImage Size=200></UserProfileImage>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-2">
                            <div class="card-header">@localizer["SiteSettings"]</div>
                            <div class="card-body">
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                        <label class="small mb-1">@localizer["ChangeLanuguage"]</label>
                                        <div><CultureSelector @ref=cultureSelector /></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <EditForm class="col-xl-12" Model=userInfo OnValidSubmit="SaveChanges">
                        <!-- Account details card-->
                    <div class="card mb-4">
                            <div class="card-header">@localizer["AccountDetails"]</div>
                            <div class="card-body">
                                <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                        <label class="small mb-1">@localizer["FirstName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourFirstName"]" @bind-Value="@userInfo.FirstName" required />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.FirstName)" />
                                    </div>
                                    <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                        <label class="small mb-1">@localizer["LastName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourLastName"]" @bind-Value="@userInfo.LastName" required />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.LastName)" />
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                            <div class="mb-3">
                                    <label class="small mb-1">@localizer["Email"]</label>
                                    <InputText class="form-control" placeholder="@localizer["YourEmail"]" @bind-Value="@userInfo.Email" required />
                                    <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Email)" />
                                </div>
                                <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">@localizer["PhoneNumber"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourPhoneNumber"]" @bind-Value="@userInfo.Mobile" required />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Mobile)" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1">@localizer["UserName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourUsername"]" @bind-Value="@userInfo.Username" required />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Username)" />
                                    </div>
                                </div>
                                <!-- Save changes button-->
                            <button type="submit" class="btn btn-primary" disabled="@isSubmited">
                                    @if (isSubmited)
                                    {
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <text>@localizer["Loading"]...</text>
                                    }
                                    else
                                    {
                                        <text>@localizer["SaveChanges"]</text>
                                    }
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    UserInfo userInfo;
    CultureSelector cultureSelector;
    protected async override Task OnInitializedAsync()
    {
        userInfo = await accountReository.Get();
    }
    private bool isSubmited = false;

    private async Task SaveChanges()
    {
        isSubmited = true;
        if (await accountReository.Update(userInfo))
        {
            toastService.ShowToast("Changes saved", Enums.ToastLevel.Success);
        }

        cultureSelector.Save();

        isSubmited = false;
    }
}

