@page "/user/info"

@inject IAccountRepository accountRepository
@inject ToastService toastService
@inject IStringLocalizer<Resource> localizer

@if (userInfo == null)
{
    <Loading />
}
else
{
    <AuthorizeView Context="authViewContext">
        <Authorized>
            <EditForm class="col-xl-12" Model=changeEmail Context="ChangeEmailContext">
                <Modal @ref="ChangeEmailModal">
                    <Title>
                        <label>@localizer["ChangeEmailAddress"]</label>
                    </Title>
                    <Body>
                        <label class="small mb-1">@localizer["Email"]</label>
                        <InputText class="form-control" placeholder="@localizer["YourEmail"]" @bind-Value="@changeEmail.Email" required />
                        <ValidationMessage class="invalid-feedback" For="@(()=> changeEmail.Email)" />
                    </Body>
                    <Footer>
                        <BaseButtonComponent Caption=@localizer["Cancel"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Warning
                                         OnClick=@(()=>ChangeEmailModal.Close())></BaseButtonComponent>

                        <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Primary
                                         EditContext=ChangeEmailContext
                                         OnClick=@AcceptChangeEmail></BaseButtonComponent>
                    </Footer>
                </Modal>
            </EditForm>
            <div class="container">
                <div class="row g-2">
                    <div class="col-xl-3 g-1">
                        <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                            <div class="card-header">@localizer["ProfilePicture"]</div>
                            <div class="card-body text-center">
                                <UserProfileImage Size=200></UserProfileImage>
                            </div>
                        </div>
                    </div>
                    <div class="row col-xl-9 g-1">
                        <div class="col-xl-12 g-0">
                            <div class="card mb-2">
                                <div class="card-header">@localizer["SiteSettings"]</div>
                                <div class="card-body">
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                            <label class="small mb-1">@localizer["ChangeLanuguage"]</label>
                                            <div><CultureSelector @ref=cultureSelector /></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 g-0">
                            <div class="card mb-2">
                                <div class="card-header">تنظیمات امنیتی</div><!--!-->
                            <div class="card-body">
                                    <a class="btn btn-primary" href="user/changepassword">تغییر رمز عبور</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <EditForm Context="UserInfoEditContext" class="col-xl-12" Model=userInfo>
                        <div class="card mb-4">
                            <div class="card-header">@localizer["BasicInfo"]</div>
                            <div class="card-body">
                                <div class="row gx-3 mb-3">
                                    <div class="col-xl-6">
                                        <div class="input-group tools-result">
                                            <InputText class="form-control" placeholder="@localizer["YourEmail"]" @bind-Value="@userInfo.Email" disabled />
                                            <BaseButtonComponent Caption=@localizer["Edit"]
                                                             IsBussyCaption=@localizer["Loading"]
                                                             Color=ColorEnum.Primary
                                                             Icon=IconEnum.Pencil
                                                             OnClick=@(()=>OpenChangeEmailModal())></BaseButtonComponent>
                                        </div>
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Email)" />
                                    </div>
                                </div>
                                @if (!@userInfo.IsEmailApproved)
                                {
                                    @if (ResentButtonClicked)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            <text>@localizer["ActivationLinkSent"]</text>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @localizer["YourEmailNotApprovedYet"]
                                            <BaseButtonComponent Caption=@localizer["ResendActivationLink"]
                                                     IsBussyCaption=@localizer["Progressing"]
                                                     Color=ColorEnum.Link
                                                     OnClick="ResendActivationLink"></BaseButtonComponent>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">@localizer["PersonalInfo"]</div>
                            <div class="card-body">
                                <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        <label class="small mb-1">@localizer["FirstName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourFirstName"]" @bind-Value="@userInfo.FirstName" />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.FirstName)" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1">@localizer["LastName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourLastName"]" @bind-Value="@userInfo.LastName" />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.LastName)" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1">@localizer["Company"]</label>
                                        <InputText class="form-control" placeholder="@localizer["Company"]" @bind-Value="@userInfo.Company" />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Company)" />
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        <label class="small mb-1">@localizer["UserName"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourUsername"]" @bind-Value="@userInfo.Username" />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Username)" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1" for="inputPhone">@localizer["PhoneNumber"]</label>
                                        <InputText class="form-control" placeholder="@localizer["YourPhoneNumber"]" @bind-Value="@userInfo.Mobile" />
                                        <ValidationMessage class="invalid-feedback" For="@(()=> userInfo.Mobile)" />
                                    </div>
                                </div>
                                <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                                 IsBussyCaption=@localizer["Progressing"]
                                                 Color=ColorEnum.Primary
                                                 EditContext=UserInfoEditContext
                                                 OnClick="SaveChanges"></BaseButtonComponent>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    UserInfo userInfo;
    ChangeEmailDTO changeEmail;

    CultureSelector cultureSelector;
    private bool ResentButtonClicked = false;

    Modal ChangeEmailModal { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userInfo = await accountRepository.Get();
            changeEmail = new ChangeEmailDTO { Email = userInfo.Email };
            await this.InvokeAsync(()=> StateHasChanged());
        }
    }

    private async Task SaveChanges()
    {
        if (await accountRepository.Update(userInfo))
        {
            toastService.ShowToast("Changes saved", Enums.ToastLevel.Success);
        }

        cultureSelector.Save();
    }

    private async Task ResendActivationLink()
    {
        if (await accountRepository.ResendConfirmEmailToken())
        {
            ResentButtonClicked = true;
        }
    }

    private async Task OpenChangeEmailModal()
    {
        await ChangeEmailModal.Open();
    }

    private async Task AcceptChangeEmail()
    {
        if (await accountRepository.ChangeEmail(changeEmail))
        {
            toastService.ShowToast("New Email Saved", Enums.ToastLevel.Success);

            if (userInfo.Email.Trim().ToLower() != changeEmail.Email.Trim().ToLower())
                userInfo.IsEmailApproved = false;

            userInfo.Email = changeEmail.Email;
            await ChangeEmailModal.Close();
        }
    }
}

