@page "/user/info"

@inject IAccountRepository accountRepository
@inject ToastService toastService
@inject IStringLocalizer<Resource> localizer

@attribute [Authorize]

@if (userInfo == null)
{
    <Loading />
}
else
{
    <AuthorizeView Context="authViewContext">
        <Authorized>
            <EditForm class="col-xl-12" Model=changeEmail Context="ChangeEmailContext">
                <Modal @ref="ChangeEmailModal">
                    <Title>
                        <BitLabel>@localizer["ChangeEmailAddress"]</BitLabel>
                    </Title>
                    <Body>
                        <BitTextField Label="@localizer["Email"]" Class="dir-ltr" Placeholder="@localizer["YourEmail"]" @bind-Value="@changeEmail.Email" IsRequired=true />
                    </Body>
                    <Footer>
                        <BaseButtonComponent Caption=@localizer["Cancel"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Warning
                                         OnClick=@(()=>ChangeEmailModal.Close())></BaseButtonComponent>

                        <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Primary
                                         EditContext=ChangeEmailContext
                                         OnClick=@AcceptChangeEmail></BaseButtonComponent>
                    </Footer>
                </Modal>
            </EditForm>
            <div class="container">
                <div class="row g-2">
                    <div class="col-xl-3 g-1">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header"><BitLabel>@localizer["ProfilePicture"]</BitLabel></div>
                            <div class="card-body text-center">
                                <UserProfileImage Size=200></UserProfileImage>
                            </div>
                        </div>
                    </div>
                    <div class="row col-xl-9 g-1">
                        <div class="col-xl-12 g-0">
                            <div class="card mb-2">
                                <div class="card-header"><BitLabel>@localizer["SiteSettings"]</BitLabel></div>
                                <div class="card-body">
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <CultureSelector @ref=cultureSelector />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 g-0">
                            <div class="card mb-2">
                                <div class="card-header"><BitLabel>تنظیمات امنیتی</BitLabel></div><!--!-->
                                <div class="card-body">
                                    <BaseNavigateButtonComponent Href="user/changepassword"
                                                             Text="تغییر رمز عبور"
                                                             Icon="BitIconName.Lock">
                                    </BaseNavigateButtonComponent>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <EditForm Context="UserInfoEditContext" class="col-xl-12" Model=userInfo>
                        <div class="card mb-4">
                            <div class="card-header"><BitLabel>@localizer["BasicInfo"]</BitLabel></div>
                            <div class="card-body">
                                <div class="row gx-3 mb-3">
                                    <div class="col-xl-6">
                                        <BitTextField Class="dir-ltr pb-2" Placeholder="@localizer["YourEmail"]" @bind-Value="@userInfo.Email" IsReadonly=true />
                                        <BaseButtonComponent Caption=@localizer["Edit"]
                                                         IsBussyCaption=@localizer["Loading"]
                                                         Color=ColorEnum.Primary
                                                         Icon=BitIconName.Edit
                                                         OnClick=@(()=>OpenChangeEmailModal())></BaseButtonComponent>
                                    </div>
                                </div>
                                @if (!@userInfo.IsEmailApproved)
                                {
                                    @if (ResentButtonClicked)
                                    {
                                        <BitMessageBar MessageBarType="BitMessageBarType.Success">
                                            <BitLabel>@localizer["ActivationLinkSent"]</BitLabel>
                                        </BitMessageBar>
                                    }
                                    else
                                    {
                                        <BitMessageBar MessageBarType="BitMessageBarType.SevereWarning">
                                            <BitLabel>
                                                @localizer["YourEmailNotApprovedYet"]
                                                <BaseButtonComponent Caption=@localizer["ResendActivationLink"]
                                                         IsBussyCaption=@localizer["Progressing"]
                                                         Icon=BitIconName.MailCheck
                                                         Color=ColorEnum.Link
                                                         OnClick="ResendActivationLink"></BaseButtonComponent>
                                            </BitLabel>
                                        </BitMessageBar>
                                    }
                                }
                                <hr>
                                <div class="row gx-3 mb-3">
                                    <div class="col-xl-6">
                                        <BitToggle Label="ارسال ایمیل در صورت دریافت پاسخ به تیکت" @bind-Value="@userInfo.SendEmailWhenGotTicketReply" IsInlineLabel="true" />
                                        <BitToggle Label="ارسال ایمیل در صورت تغییر آی‌پی هاست" @bind-Value="@userInfo.SendEmailWhenDNSIPChanged" IsInlineLabel="true" />
                                    </div>
                                    <div class="col">
                                        @if (!@userInfo.IsEmailApproved)
                                        {
                                            <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                                                <BitLabel>در صورتی که آدرس ایمیل تایید نشده باشد امکان استفاده از این بخش وجود ندارد.</BitLabel>
                                            </BitMessageBar>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><BitLabel>@localizer["PersonalInfo"]</BitLabel></div>
                            <div class="card-body">
                                <!-- Form Row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <BitTextField Label="@localizer["FirstName"]" Placeholder="@localizer["YourFirstName"]" @bind-Value="@userInfo.FirstName"></BitTextField>
                                    </div>
                                    <div class="col-md-4">
                                        <BitTextField Label="@localizer["LastName"]" Placeholder="@localizer["YourLastName"]" @bind-Value="@userInfo.LastName"></BitTextField>
                                    </div>
                                    <div class="col-md-4">
                                        <BitTextField Label="@localizer["Company"]" Placeholder="@localizer["Company"]" @bind-Value="@userInfo.Company"></BitTextField>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col-md-4">
                                        <BitTextField Label="@localizer["UserName"]" Placeholder="@localizer["YourUsername"]" @bind-Value="@userInfo.Username"></BitTextField>
                                    </div>
                                    <div class="col-md-4">
                                        <BitTextField Label="@localizer["PhoneNumber"]" Placeholder="@localizer["YourPhoneNumber"]" @bind-Value="@userInfo.Mobile"></BitTextField>
                                    </div>
                                </div>
                                <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                                 IsBussyCaption=@localizer["Progressing"]
                                                 Color=ColorEnum.Primary
                                                 Icon=BitIconName.Save
                                                 EditContext=UserInfoEditContext
                                                 OnClick="SaveChanges"></BaseButtonComponent>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    UserInfo userInfo;
    ChangeEmailDTO changeEmail;

    CultureSelector cultureSelector;
    private bool ResentButtonClicked = false;

    Modal ChangeEmailModal { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userInfo = await accountRepository.Get();
            changeEmail = new ChangeEmailDTO { Email = userInfo.Email };
            await this.InvokeAsync(() => StateHasChanged());
        }
    }

    private async Task SaveChanges()
    {
        if (await accountRepository.Update(userInfo))
        {
            toastService.ShowToast("تغییرات ذخیره شد", Enums.ToastLevel.Success);
        }

        cultureSelector.Save();
    }

    private async Task ResendActivationLink()
    {
        if (await accountRepository.ResendConfirmEmailToken())
        {
            ResentButtonClicked = true;
        }
    }

    private async Task OpenChangeEmailModal()
    {
        await ChangeEmailModal.Open();
    }

    private async Task AcceptChangeEmail()
    {
        if (await accountRepository.ChangeEmail(changeEmail))
        {
            toastService.ShowToast("ایمیل جدید ذخیره شد و ایمیل تایید ارسال گردید", Enums.ToastLevel.Success);

            if (userInfo.Email.Trim().ToLower() != changeEmail.Email.Trim().ToLower())
                userInfo.IsEmailApproved = false;

            userInfo.Email = changeEmail.Email;
            await ChangeEmailModal.Close();
        }
    }
}

