@page "/user/register"

@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject IAuthService authService
@inject IStringLocalizer<Resource> localizer
@inject ToastService toastService

<div class="row">
    <div class="col-xl-4 col-lg-5 col-12">
        <EditForm Model=registerUser Context="RegisterContext">
            <DataAnnotationsValidator />
            <div class="card auth-card">
                <div class="card-header"><BitLabel>@localizer["RegisterAccount"]</BitLabel></div>
                <div class="card-body">
                    <BitTextField Label="@localizer["Email"]" Type="BitTextFieldType.Email" Class="dir-ltr" Placeholder="@localizer["Email"]" @bind-Value="@registerUser.Email" IsRequired />
                    <BitTextField Label="@localizer["Password"]" Type="BitTextFieldType.Password" Class="dir-ltr" @bind-Value="@registerUser.Password" IsRequired />
                    <BitToggle Label="قوانین و مقررات سایت را مطالعه و می پذیرم" @bind-Value="isApprovedTOS" IsInlineLabel="true" />
                    <BitLabel>
                        <BitLink id="lblTOS" Target="_blank" Href="legal/tos">مطالعه قوانین و مقررات</BitLink>
                    </BitLabel>
                </div>
                <BaseButtonComponent Caption=@localizer["Register"]
                                     IsBussyCaption=@localizer["Progressing"]
                                     CssClass="col-12"
                                     Color=ColorEnum.Primary
                                     Icon=BitIconName.CheckMark
                                     EditContext=RegisterContext
                                     OnClick=CreateUser></BaseButtonComponent>
                <BitLink Href="user/auth" Class="text-center mt-2 col-12">قبلا ثبت نام کرده ام</BitLink>
            </div>
        </EditForm>
    </div>
    <div class="col-xl-8 col-lg-7 col-12">
        <img class="illustrations" src="../images/illustrations/Mobile-login.svg" />
    </div>
</div>