@page "/user/register"

@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject IAuthService authService
@inject IStringLocalizer<Resource> localizer
@inject ToastService toastService

<div class="container-xl mt-5">
    <EditForm class="container-md mt-4 col-lg-4" Model=registerUser Context="RegisterContext">
        <DataAnnotationsValidator />
        <div class="card mb-4">
            <div class="card-header"><BitLabel>@localizer["RegisterAccount"]</BitLabel></div>
            <div class="card-body">
                <BitTextField Label="@localizer["Email"]" Type="BitTextFieldType.Email" Class="dir-ltr" Placeholder="@localizer["Email"]" @bind-Value="@registerUser.Email" IsRequired />
                <BitTextField Label="@localizer["Password"]" Type="BitTextFieldType.Password" Class="dir-ltr" @bind-Value="@registerUser.Password" IsRequired />
                <BitToggle Label="قوانین و مقررات سایت را مطالعه و می پذیرم" @bind-Value="isApprovedTOS" IsInlineLabel="true" />
                <BitLabel>
                    <BitLink id="lblTOS" Target="_blank" Href="legal/tos">مطالعه قوانین و مقررات</BitLink>
                </BitLabel>
            </div>
            <BaseButtonComponent Caption=@localizer["Register"]
                                 IsBussyCaption=@localizer["Progressing"]
                                 CssClass="col-12"
                                 Color=ColorEnum.Primary
                                 Icon=BitIconName.CheckMark
                                 EditContext=RegisterContext
                                 OnClick=CreateUser></BaseButtonComponent>
            <BitLink Href="user/auth" Class="text-center mt-2 col-12">قبلا ثبت نام کرده ام</BitLink>
        </div>
    </EditForm>
</div>

@code {
    private RegisterUserDTO registerUser = new RegisterUserDTO();

    bool isApprovedTOS = false;

    private async Task CreateUser()
    {
        if (isApprovedTOS)
        {
            var userToken = await accountReository.Register(registerUser);
            if (!String.IsNullOrEmpty(userToken))
            {
                await authService.Login(userToken);
                navigationManager.NavigateTo("Dashboard");
            }
        }
        else
        {
            toastService.ShowToast("لطفا تیک قوانین و مقررات بزنید", ToastLevel.Info);
        }
    }
}
