@page "/user/register"

@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject IAuthService authService
@inject IStringLocalizer<Resource> localizer
@inject ToastService toastService

<div class="container-xl mt-5">
    <div class="row">
        <EditForm class="container-md mt-4 col-lg-4" Model=registerUser Context="RegisterContext">
            <DataAnnotationsValidator />
            <div class="card mb-4">
                <div class="card-header">@localizer["RegisterAccount"]</div>
                <div class="card-body">

                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="mb-1">@localizer["Email"]</label>
                        <InputText class="form-control dir-ltr" placeholder="@localizer["Email"]" @bind-Value="@registerUser.Email" required />
                        <ValidationMessage class="invalid-feedback" For="@(()=> registerUser.Email)" />
                    </div>
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="mb-1">@localizer["Password"]</label>
                        <InputPassword class="form-control dir-ltr" @bind-Value="@registerUser.Password" required />
                        <ValidationMessage class="invalid-feedback" For="@(()=> registerUser.Password)" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <InputCheckbox class="form-check-input" @bind-Value="isApprovedTOS" id="isAcceptLegalsTOS" />
                            <label class="form-check-label" for="isAcceptLegalsTOS">
                                <a class="text-decoration-underline" target="_blank" href="legal/tos">قوانین و مقررات</a> سایت را مطالعه و می پذیرم
                            </label>
                        </div>
                    </div>
                    <BaseButtonComponent Caption=@localizer["Register"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         CssClass="col-12"
                                         Color=ColorEnum.Primary
                                         Icon=IconEnum.Check
                                         EditContext=RegisterContext
                                         OnClick=CreateUser></BaseButtonComponent>
                    <div class="mt-3">
                        <a href="user/auth" class="text-center text-decoration-none text-muted">قبلا ثبت نام کرده ام</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private RegisterUserDTO registerUser = new RegisterUserDTO();

    bool isApprovedTOS = false;

    private async Task CreateUser()
    {
        if (isApprovedTOS)
        {
            var userToken = await accountReository.Register(registerUser);
            if (!String.IsNullOrEmpty(userToken))
            {
                await authService.Login(userToken);
                navigationManager.NavigateTo("Dashboard");
            }
        }
        else
        {
            toastService.ShowToast("لطفا تیک قوانین و مقررات بزنید", ToastLevel.Info);
        }
    }
}
