@page "/{PageType}/{*URL}"
@inject IPageRepository _PageRepository

<div class="container p-5 bg-body rounded shadow-sm article ck-content">
    @if (publishPageDTO != null)
    {
        <h1>@publishPageDTO.Header</h1>
        <PageSummary FullName="@publishPageDTO.Author.FullName"
                 UserId="@publishPageDTO.Author.ID"
                 PublishDate="@publishPageDTO.PublishDate"
                 UpdateDate="@publishPageDTO.UpdateDate" />
        <hr />
        @((MarkupString)@publishPageDTO.Body)
        <hr />
        <h3>کلمات کلیدی</h3>
        @foreach (var item in keywords)
        {
            <a href="/Tag/@item" rel="tag" class="text-decoration-none text-white btn m-1 btn-sm btn-secondary">@item</a>
        }
        <hr />
        <div class="row col-12">
            <SupportUsButton />
        </div>
    }
</div>

@code {
    [Parameter] public string PageType { get; set; }
    [Parameter] public string URL { get; set; }

    PublishPageDTO publishPageDTO;
    string[] keywords;
    protected override async Task OnInitializedAsync()
    {
        publishPageDTO = await _PageRepository.GetPageByURL(url: $"{PageType}/{URL}");
        var pageMetadata = await _PageRepository.GetPageMetadata($"{PageType}/{URL}");

        keywords = pageMetadata.Keywords;
    }
}
