@page "/tools/dnslookup"

@attribute [Authorize]

@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer
<ToolsForm Header="@localizer["DNSLookup"]" Model="@hostOrIPAddress" OnValidSubmit="OnValidSubmit" IsProgressing="@isProgressing" Result="@result">
    <Body>
        <BitMessageBar MessageBarType="BitMessageBarType.Info">
            <BitLabel>رکورد DNS را جستجو کنید</BitLabel>
        </BitMessageBar>
        <div class="col-md-6">
            <BitTextField Label="@localizer["HostOrIPAddress"]" Class="dir-ltr" Placeholder="dnslab.ir" @bind-Value="@hostOrIPAddress.HostOrIPAddress" />
        </div>
    </Body>
</ToolsForm>