@page "/tools/ping"

@attribute [Authorize]

@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer

<ToolsForm Header="@localizer["PingChecker"]" Model="@hostOrIPAddress" OnValidSubmit="OnValidSubmit" IsProgressing="@isProgressing" Result="@result">
    <Body>
        <div class="col-md-6">
            <BitTextField Label="@localizer["HostOrIPAddress"]" Class="dir-ltr" Placeholder="@IPDTO.IPv4" @bind-Value="@hostOrIPAddress.HostOrIPAddress" />
        </div>
    </Body>
</ToolsForm>

@code {
    private HostOrIPAddressDTO hostOrIPAddress = new HostOrIPAddressDTO();
    private bool isProgressing = false;
    private string result = String.Empty;

    [CascadingParameter] public IPDTO IPDTO { get; set; }

    public async Task OnValidSubmit()
    {
        isProgressing = true;

        var response = await iPRepository.IPHavePing(hostOrIPAddress.HostOrIPAddress);
        if (response != null)
        {
            if (response == true)
                result = localizer["PingIsOK"];
            else
                result = localizer["PingIsNotOK"];
        }
        else
        {
            result = String.Empty;
        }

        isProgressing = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (String.IsNullOrEmpty(hostOrIPAddress.HostOrIPAddress))
            hostOrIPAddress.HostOrIPAddress = IPDTO.IPv4;
    }
}
