@page "/tools/reverselookup"

@attribute [Authorize]

@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer

<ToolsForm Header="@localizer["ReverseLookup"]" Model="@iP" OnValidSubmit="OnValidSubmit" IsProgressing="@isProgressing" Result="@result">
    <Body>
        <div class="col-md-6">
            <BitTextField Label="@localizer["IPAddress"]" Class="dir-ltr" Placeholder="@IPDTO.IPv4" @bind-Value="@iP.IPv4" />
        </div>
    </Body>
</ToolsForm>

@code {
    private IPDTO iP = new IPDTO();
    private bool isProgressing = false;
    private string result { get; set; }

    [CascadingParameter] public IPDTO IPDTO { get; set; }

    public async Task OnValidSubmit()
    {
        isProgressing = true;

        var response = await iPRepository.ReverseLoopUp(iP.IPv4);
        if (!String.IsNullOrEmpty(response))
            result = response;
        else
            result = String.Empty;

        isProgressing = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (String.IsNullOrEmpty(iP.IPv4))
            iP.IPv4 = IPDTO.IPv4;
    }
}
