@page "/tools"
@attribute [Authorize]

@inject IStringLocalizer<Resource> localizer

<h4>@localizer["Tools"]</h4>
<div class="d-grid gap-2 d-md-block">
    <BaseNavigateButtonComponent Href="tools/ping" Text="@(localizer["PingChecker"])" />
    <BaseNavigateButtonComponent Href="tools/port" Text="@(localizer["PortChecker"])" />
    <BaseNavigateButtonComponent Href="tools/dnslookup" Text="@(localizer["DNSLookup"])" />
    <BaseNavigateButtonComponent Href="tools/reverselookup" Text="@(localizer["ReverseLookup"])" />
</div>
