@page "/tools"
@attribute [Authorize]

@inject IStringLocalizer<Resource> localizer

<div class="card mb-4">
    <div class="card-header">@localizer["Tools"]</div>
    <div class="card-body">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" href="tools/ping">@localizer["PingChecker"]</a>
            <a class="btn btn-primary" href="tools/port">@localizer["PortChecker"]</a>
            <a class="btn btn-primary" href="tools/dnslookup">@localizer["DNSLookup"]</a>
            <a class="btn btn-primary" href="tools/reverselookup">@localizer["ReverseLookup"]</a>
        </div>
    </div>
</div>

@code {

}
