@page "/ChangeLogs/All"

@inject IPageRepository pageRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]

@if (ChangeLogs == null)
{
    <Loading />
}
else
{
    <Modal @ref="DeleteModal">
        <Title>
            <BitLabel>@localizer["AreYouSureDel"]</BitLabel>
        </Title>
        <Body>
            <BitLabel>@localizer["ChangeTitle"] : @deleteRcord.Title </BitLabel>
        </Body>
        <Footer>
            <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Warning
                             Icon=BitIconName.Cancel
                             OnClick=DeleteModal.Close></BaseButtonComponent>
            <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Danger
                             Icon=BitIconName.Delete
                             OnClick=AcceptDelete></BaseButtonComponent>
        </Footer>
    </Modal>
    <div class="card mb-4">
        <div class="card-header"><BitLabel>@localizer["ChangeLogs"]</BitLabel></div>
        <div class="card-body">
            <div class="mb-3">
                <BaseNavigateButtonComponent Href="ChangeLogs/Create"
                                         Text="@(localizer["CreateNewChangeLog"])">
                </BaseNavigateButtonComponent>
            </div>
            <div class="mb-3">
                @if (ChangeLogs.Count() == 0)
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Warning">
                        <BitLabel>@localizer["ThereIsNoChangeLogs"]</BitLabel>
                    </BitMessageBar>
                }
                else
                {
                    @foreach (var item in ChangeLogs.OrderByDescending(x => x.CreateDate))
                    {
                        <hr />
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <BitLabel>@item.Title.MakeCut(23)</BitLabel>
                            </div>
                            <div class="col-md-3">
                                <BitLink Href="@($"{item.InformationLink}")" Target="_blank">
                                    <BitLabel><code>@item.InformationLink.MakeCut(23)</code></BitLabel>
                                </BitLink>
                            </div>
                            <div class="col-md-3">
                                <BitLabel>@(@localizer["CreateDate"] + ":" + @item.CreateDate.ToLocalizerString()) </BitLabel>
                                <BitLabel> @(@item.UpdateDate != null ? (@localizer["UpdateDate"] + ":" + @item.UpdateDate.Value.ToLocalizerString()) : String.Empty)</BitLabel>
                            </div>
                            <div class="col">
                                <BaseButtonComponent Caption=@localizer["Edit"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Warning
                                         IsOutLine=true
                                         Icon=BitIconName.Edit
                                         OnClick=@(()=>EditSiteChange(item)) />
                                <BaseButtonComponent Caption=@localizer["Delete"]
                                         IsBussyCaption=@localizer["Progressing"]
                                         Color=ColorEnum.Danger
                                         IsOutLine=true
                                         Icon=BitIconName.Delete
                                         OnClick=@(()=>DeleteSiteChange(item)) />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

}

@code {
    IEnumerable<ChangeLogDTO> ChangeLogs;

    Modal DeleteModal { get; set; }
    ChangeLogDTO deleteRcord { get; set; } = new ChangeLogDTO();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSiteChanges();
            await this.InvokeAsync(() => StateHasChanged());
        }
    }

    private async Task LoadSiteChanges()
    {
        ChangeLogs = await pageRepository.GetAllChangeLogs();
    }

    private async Task AcceptDelete()
    {
        if (deleteRcord != null)
        {
            if (await pageRepository.DeleteChangeLog(deleteRcord.ID))
            {
                await DeleteModal.Close();
                await LoadSiteChanges();
            }
        }
        deleteRcord = new ChangeLogDTO();
    }

    private async Task DeleteSiteChange(ChangeLogDTO record)
    {
        deleteRcord = record;
        await DeleteModal.Open();
    }

    private async Task EditSiteChange(ChangeLogDTO record)
    {
        NavigationManager.NavigateTo("ChangeLogs/Edit/" + record.ID);
    }
}