@page "/Ticket/Details/{TicketId:guid}"
@using DNSLab.DTOs.Ticket
@inject ITicketRepository ticketRepository
@inject IStringLocalizer<Resource> localizer
@inject AuthenticationStateProvider auth
@inject IJSRuntime jsRuntime
@attribute [Authorize]

@if (messages == null)
{
    <Loading IsInTop=true />
}
else
{
    <EditForm Model="Message" Context="TicketDetails">
        <h4>@localizer["TicketTitle"] : @ticket.Title</h4>
        <div class="row gx-3 mb-3">
            <ul id="chat">
                @foreach (var item in messages.OrderBy(x => x.CreateDate))
                {
                    @if (CurrentUserId == item.UserId)
                    {
                        <li class="me">
                            <div class="small">
                                @item.CreateDate.CalcRelativeTime()
                            </div>
                            <div class="message">
                                @((MarkupString)item.Text.ChangeUrlsToLink())
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="you">
                            <div class="small">
                                @item.CreateDate.CalcRelativeTime()
                            </div>
                            <div class="message">
                                @((MarkupString)item.Text.ChangeUrlsToLink())
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <hr>
        <BitTextField Label="@localizer["TicketText"]"
                  IsMultiline=true class="form-control"
                  Placeholder="@(localizer["TicketText"] + "...")"
                  Rows="7"
                  @bind-Value="Message.Text"
                  MaxLength="@MAX_TEXT_COUNT" />
        <div class="mb-3 gap-2">
            <BaseButtonComponent Caption=@localizer["Send"]
                             IsBussyCaption=@localizer["Progressing"]
                             Color=ColorEnum.Primary
                             Icon=BitIconName.Send
                             EditContext="TicketDetails"
                             OnClick=SendTicket></BaseButtonComponent>
            <BaseNavigateButtonComponent Text="انصراف"
                                     Href="Ticket/MyTickets"
                                     Icon=BitIconName.Cancel>
            </BaseNavigateButtonComponent>
        </div>
    </EditForm>
}