@inject ICommentRepository _CommentRepository
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager _NavigationManager

@if (!IsDeleted)
{
    <div class="row">
        @if (PageComment.ReplyTo != null)
        {
            <div class="col-1" />
        }
        <div class="col-auto">
            <UserProfileImage UserId="@PageComment.UserId.ToString()" Size="50"></UserProfileImage>
        </div>
        <div class="col-auto">
            <BitLabel>@PageComment.FullName</BitLabel>
            <BitLabel>@PageComment.CreateDate.ToLocalizerString()</BitLabel>
        </div>

        <div class="col-auto">
            <MudButton StartIcon="@Icons.Material.Filled.Reply" OnClick="ReplyButtonClick">
                پاسخ
            </MudButton>
            @if (PageComment.UserId == AuthUserId)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="()=> IsEditing = true">
                    ویرایش
                </MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="DeleteComment">
                    حذف
                </MudIconButton>
            }
        </div>
    </div>
    <div class="row">
        @if (PageComment.ReplyTo != null)
        {
            <div class="col-1" />
        }
        <div class="@(PageComment.ReplyTo != null ? "col-11" : "col-12")">
            @if (IsEditing)
            {
                <BitTextField IsMultiline=true
                      Rows="3"
                      @bind-Value=@PageComment.Text></BitTextField>
                <BaseButtonComponent Caption="ذخیره"
                             Icon="@Icons.Material.Filled.Save"
                             OnClick="SubmitEditComment">
                </BaseButtonComponent>
                <BaseButtonComponent Caption="انصراف"
                             Icon="@Icons.Material.Filled.Cancel"
                             OnClick="()=> IsEditing = false">
                </BaseButtonComponent>
            }
            else
            {
                <BitLabel Class="comment-text">
                    @((MarkupString)PageComment.Text.ChangeUrlsToLink())
                </BitLabel>
            }
        </div>
    </div>
    @if (ChildContent != null)
    {
        @ChildContent
    }
}

<Modal @ref=DeleteModal>
    <Title><BitLabel>آیا از حذف دیدگاه مطمئن میباشید؟</BitLabel></Title>
    <Body>
        <BitLabel>متن دیدگاه : </BitLabel>
        <BitLabel>@PageComment.Text</BitLabel>
    </Body>
    <Footer>
        <BaseButtonComponent Caption=@localizer["Cancel"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=@Icons.Material.Filled.Cancel
                             OnClick=DeleteModal.Close></BaseButtonComponent>
        <BaseButtonComponent Caption=@localizer["Delete"]
                             IsBussyCaption=@localizer["Progressing"]
                             Icon=@Icons.Material.Filled.Delete
                             OnClick=SubmitDeleteComment></BaseButtonComponent>
    </Footer>
</Modal>