@inject IStaticsRepository _StaticsRepository
@inject NavigationManager _NavigationManager

<div class="d-inline">
    <MudText>
        @if (!String.IsNullOrWhiteSpace(FullName))
        {
            <text>نویسنده :</text>
            <UserProfileImage Size=25 UserId="@UserId.ToString()" />
            <strong>@FullName</strong>
        }
        @if (PublishDate != null)
        {
            <text> - انتشار : </text>
            <strong>@PublishDate.Value.CalcRelativeTime().EnglishToPersianNumbers()</strong>
            @if (UpdateDate != null)
            {
                <text> - آخرین ویرایش : </text>
                <strong>@UpdateDate.Value.CalcRelativeTime().EnglishToPersianNumbers()</strong>
            }
        }
        - تعداد بازدید :
        @if (visitCount > -1)
        {
            <strong>@(visitCount.ToString().EnglishToPersianNumbers() + " بار")</strong>
        }
        else
        {
           <MudProgressCircular Size="Size.Small" Color="Color.Primary" />
        }
    </MudText>
</div>