@page "/api"

<PageVisitCounter />
<h1>توسعه وب سایت DNSLab</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.OpenSource"></BitIcon>
    وب سایت بصورت متن باز (Open Source) در مخزن
    <BitLink Href="https://github.com/AkbarAsghari/DNSLab-WebSite" Target="_blank">DNSLab</BitLink>
    در اختیار برنامه نویسان قرار گرفته است برای حمایت از پروژه میتونید ⭐ بدید.
</BitLabel>
<hr />
<h1>DNSLab CLI's</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.CommandPrompt"></BitIcon>
    توسعه دهندگان و کاربران همچنین میتوانند برای استفاده از API های این صفحه از این
    <BitLink Href="https://github.com/NoobforAl/DnsLab-CLI">CLI</BitLink>
    که با زبان Go توسط دوست عزیزمون
    <BitLink Href="https://github.com/NoobforAl">F . Sarmaly</BitLink>
    نوشته شده است استفاده نمایند.
</BitLabel>
<hr />
<h1>راهنمای API های سایت برای توسعه دهندگان</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.AzureServiceEndpoint" />
    توسعه دهندگان گرامی میتوانند از خدمات زیر بصورت رایگان استفاده نماییند
</BitLabel>
<hr />
<h2>برای دریافت آی پی عمومی از این سرویس استفاده نمایند</h2>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/ip" />
    <BitLink Href="https://api.dnslab.ir/ip" Target="_blank">https://api.dnslab.ir/ip</BitLink>
</div>
<hr />
<h2>بررسی پینگ IP یا یک آدرس اینترنتی</h2>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/IP/Ping?hostOrIPAddress={IP_or_Host}</code></BitLabel>
<BitLabel>برای مثال</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com" />
    <BitLink Href="https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com" Target="_blank">https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com</BitLink>
</div>
<BitLabel>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> )</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text=@("https://api.dnslab.ir/IP/Ping?hostOrIPAddress=" + @IPDTO.IPv4) />
    <BitLink Href="@("https://api.dnslab.ir/IP/Ping?hostOrIPAddress=" + IPDTO.IPv4)" Target="_blank">https://api.dnslab.ir/IP/Ping?hostOrIPAddress=@IPDTO.IPv4</BitLink>
</div>
<hr />
<h2>بررسی باز بودن پورت IP یا یک آدرس اینترنتی</h2>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress={IP_or_Host}&port={Port}</code></BitLabel>
<BitLabel>برای مثال آدرس گوگل و بررسی باز بودن پورت 80</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80" />
    <BitLink Href="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80" Target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80</BitLink>
</div>
<BitLabel>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> ) و پورت 80</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text=@("https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress="+ @IPDTO.IPv4+"&port=80") />
    <BitLink Href="@("https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=" + IPDTO.IPv4 + "&port=80")" Target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=@IPDTO.IPv4&port=80</BitLink>
</div>
<hr />
<h2>جستجوی معکوس IP برای بدست آوردن آدرس DNS</h2>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress={IP}</code></BitLabel>
<BitLabel>برای مثال آدرس IP دی‌ان‌اس گوگل</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8" />
    <BitLink Href="https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8" Target="_blank">https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8</BitLink>
</div>
<hr />
<h2>پرس و جو دی‌ان‌اس</h2>
<BitLabel>ساختار کلی بصورت زیر میباشد</BitLabel>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/DNSLookUp/Query?Query={"query"}&queryType={"queryType"}</code></BitLabel>
<BitLabel>در اینجا <code>query</code> برابر است با آدرس مورد نظر که میخواید DNS های آن را پرس و چو کنید (مانند google.com).</BitLabel>
<BitLabel>و <code>queryType</code> برابر است با نوع پرس و جو که در جدول زیر توضیح داده شده است (باید بصورت عدد صحیح وارد شود).</BitLabel>
<table class="table table-sm">
    <thead>
        <tr>
            <td>queryType</td>
            <td>نوع رکورد</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>NS</td>
        </tr>
        <tr>
            <td>5</td>
            <td>CNAME</td>
        </tr>
        <tr>
            <td>6</td>
            <td>SOA</td>
        </tr>
        <tr>
            <td>15</td>
            <td>MX</td>
        </tr>
        <tr>
            <td>16</td>
            <td>TXT</td>
        </tr>
    </tbody>
</table>

<BitLabel>برای مثال اگر میخواهید NS های گوگل را پرس و جو کنید باید مانند آدرس زیر بنویسید.</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/DNSLookUp/Query?Query=google.com&queryType=2" />
    <BitLink Href="https://api.dnslab.ir/DNSLookUp/Query?Query=google.com&queryType=2" Target="_blank">https://api.dnslab.ir/DNSLookUp/Query?Query=google.com&queryType=2</BitLink>
</div>
