@page "/api"

<PageVisitCounter />
<h1>توسعه وب سایت DNSLab</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.OpenSource"></BitIcon>
    وب سایت بصورت متن باز (Open Source) در مخزن
    <BitLink Href="https://github.com/AkbarAsghari/DNSLab-WebSite" Target="_blank">DNSLab</BitLink>
    در اختیار برنامه نویسان قرار گرفته است برای حمایت از پروژه میتونید ⭐ بدید.
</BitLabel>
<hr />
<h1>DNSLab CLI's</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.CommandPrompt"></BitIcon>
    توسعه دهندگان و کاربران همچنین میتوانند برای استفاده از API های این صفحه از این
    <BitLink Href="https://github.com/NoobforAl/DnsLab-CLI">CLI</BitLink>
    که با زبان Go توسط دوست عزیزمون
    <BitLink Href="https://github.com/NoobforAl">F . Sarmaly</BitLink>
    نوشته شده است استفاده نمایند.
</BitLabel>
<hr />
<h1>راهنمای API های سایت برای توسعه دهندگان</h1>
<BitLabel>
    <BitIcon IconName="BitIconName.AzureServiceEndpoint" />
    توسعه دهندگان گرامی میتوانند از خدمات زیر بصورت رایگان استفاده نماییند
</BitLabel>
<hr />
<h2>برای دریافت آی پی عمومی از این سرویس استفاده نمایند</h2>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/ip" />
    <BitLink Href="https://api.dnslab.ir/ip" Target="_blank">https://api.dnslab.ir/ip</BitLink>
</div>
<hr />
<h2>بررسی پینگ IP یا یک آدرس اینترنتی</h2>
<BitLabel>ساختار کلی بصورت زیر میباشد</BitLabel>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/IP/Ping?hostOrIPAddress={IP_or_Host}</code></BitLabel>
<BitLabel>خروجی بصورت زیر میباشد</BitLabel>
<code>
<pre>
{
    "bufferSize": 32,
    "ip": "216.239.38.120",
    "ttl": 104,
    "time": 108,
    "success": true
}
</pre>
</code>
<BitLabel>برای مثال</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com" />
    <BitLink Href="https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com" Target="_blank">https://api.dnslab.ir/IP/Ping?hostOrIPAddress=google.com</BitLink>
</div>
<BitLabel>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> )</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text=@("https://api.dnslab.ir/IP/Ping?hostOrIPAddress=" + @IPDTO.IPv4) />
    <BitLink Href="@("https://api.dnslab.ir/IP/Ping?hostOrIPAddress=" + IPDTO.IPv4)" Target="_blank">https://api.dnslab.ir/IP/Ping?hostOrIPAddress=@IPDTO.IPv4</BitLink>
</div>
<hr />
<h2>بررسی باز بودن پورت IP یا یک آدرس اینترنتی</h2>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress={IP_or_Host}&port={Port}</code></BitLabel>
<BitLabel>برای مثال آدرس گوگل و بررسی باز بودن پورت 80</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80" />
    <BitLink Href="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80" Target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80</BitLink>
</div>
<BitLabel>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> ) و پورت 80</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text=@("https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress="+ @IPDTO.IPv4+"&port=80") />
    <BitLink Href="@("https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=" + IPDTO.IPv4 + "&port=80")" Target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=@IPDTO.IPv4&port=80</BitLink>
</div>
<hr />
<h2>جستجوی معکوس IP برای بدست آوردن آدرس DNS</h2>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress={IP}</code></BitLabel>
<BitLabel>برای مثال آدرس IP دی‌ان‌اس گوگل</BitLabel>
<div class="dir-ltr">
    <CopyToClipboard Text="https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8" />
    <BitLink Href="https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8" Target="_blank">https://api.dnslab.ir/DNSLookUp/QueryReverse?IPAddress=8.8.8.8</BitLink>
</div>
<hr />
<h2>پرس و جو دی‌ان‌اس</h2>
<BitLabel>ساختار کلی بصورت زیر میباشد</BitLabel>
<BitLabel Class="dir-ltr"><code>https://api.dnslab.ir/DNSLookUp/Query?Query={"query"}&queryType={"queryType"}</code></BitLabel>
<BitLabel>در اینجا <code>query</code> برابر است با آدرس مورد نظر که میخواید DNS های آن را پرس و چو کنید (مانند google.com).</BitLabel>
<BitLabel>و <code>queryType</code> برابر است با نوع پرس و جو که در ادامه توضیح داده شده است (باید بصورت عدد صحیح وارد شود).</BitLabel>
<hr />
<BitLabel>برای نوع رکورد A (queryType = 1)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "A",
        "domainName": "dnslab.ir.",
        "ttl": 41,
        "address": "194.147.142.136"
    }
]
</pre>
</code>
<hr />
<BitLabel>برای نوع رکورد NS (queryType = 2)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "NS",
        "domainName": "dnslab.ir.",
        "ttl": 20862,
        "nsdName": "ns1.dnslab.ir."
    },
    {
        "recordType": "NS",
        "domainName": "dnslab.ir.",
        "ttl": 20862,
        "nsdName": "ns2.dnslab.ir."
    }
]
</pre>
</code>
<hr />
<BitLabel>برای نوع رکورد CNAME (queryType = 5)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "CNAME",
        "domainName": "home.dnslab.ir.",
        "ttl": 60,
        "canonicalName": "local.dnslab.ir."
    }
]
</pre>
</code>
<hr />
<BitLabel>برای نوع رکورد SOA (queryType = 6)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "SOA",
        "domainName": "dnslab.ir.",
        "ttl": 60,
        "expire": 86400,
        "minimum": 60,
        "mName": "ns1.dnslab.ir.",
        "refresh": 15,
        "retry": 10,
        "rName": "hostmaster.",
        "serial": 9828
    }
]
</pre>
</code>
<hr />
<BitLabel>برای نوع رکورد MX (queryType = 15)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "MX",
        "domainName": "yahoo.com.",
        "ttl": 625,
        "exchange": "mta7.am0.yahoodns.net.",
        "preference": 1
    },
    {
        "recordType": "MX",
        "domainName": "yahoo.com.",
        "ttl": 625,
        "exchange": "mta5.am0.yahoodns.net.",
        "preference": 1
    },
    {
        "recordType": "MX",
        "domainName": "yahoo.com.",
        "ttl": 625,
        "exchange": "mta6.am0.yahoodns.net.",
        "preference": 1
    }
]
</pre>
</code>
<hr />
<BitLabel>برای نوع رکورد TXT (queryType = 16)</BitLabel>
<BitLabel>خروجی :</BitLabel>
<code>
<pre>
[
    {
        "recordType": "TXT",
        "domainName": "dnslab.ir.",
        "ttl": 60,
        "escapedText": "google-site-verification=KAI1-4asUW3fXYa1JVxMh9w66s3-7ccKzT4sgJFysqc",
        "text": "google-site-verification=KAI1-4asUW3fXYa1JVxMh9w66s3-7ccKzT4sgJFysqc"
    }
]
</pre>
</code>