@using System.Drawing;
@using DNSLab.DTOs.Statics;
@using DNSLab.Helper.Utilities;
@attribute [Authorize(Roles = "Admin")]
@inject IStaticsRepository _StaticRepository

@if (_StatResponse == null)
{
    <Loading />
}
else
{
    <div class="row">
        <BitDropDown Class="col-auto" Style="width:200px" Label="بازه"
                 DefaultValue="@StatType.ToString()"
                 Items="GetStatTypeItems()"
                 ValueChanged="StatTypeOnChange">
        </BitDropDown>
        @if (StatType == StatTypeEnum.Custom)
        {
            <BitDateRangePicker Class="col-auto" Label="بازه زمانی مورد نظر خود را انتخاب کنید"
                        @ref=rangeDatePicker
                        ValueChanged="GenerateReport">
            </BitDateRangePicker>
        }
        @if (StatType == StatTypeEnum.LastHour)
        {
            <div class="col-auto">
                <BitLabel>بروزرسانی خودکار</BitLabel>
                <BitToggleButton OnChange="AutoRefresher" ButtonStyle=@(_autoRefresh ? BitButtonStyle.Standard : BitButtonStyle.Primary) Label="@(_autoRefresh ? "غیرفعال سازی" : "فعالسازی")" />
            </div>
        }
    </div>


    <div class="stats-panel">
        <div class="stats-item total-queries">
            <div class="number">@_StatResponse.Response.Stats.TotalQueries.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalQueries)</div>
            <div class="title">Total Queries</div>
        </div>

        <div class="stats-item no-error">
            <div class="number">@_StatResponse.Response.Stats.TotalNoError.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalNoError)</div>
            <div class="title">No Error</div>
        </div>

        <div class="stats-item server-failure">
            <div class="number">@_StatResponse.Response.Stats.TotalServerFailure.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalServerFailure)</div>
            <div class="title">Server Failure</div>
        </div>

        <div class="stats-item name-error">
            <div class="number">@_StatResponse.Response.Stats.TotalNxDomain.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalNxDomain)</div>
            <div class="title">NX Domain</div>
        </div>

        <div class="stats-item refused">
            <div class="number">@_StatResponse.Response.Stats.TotalRefused.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalRefused)</div>
            <div class="title">Refused</div>
        </div>

        <div class="stats-item auth-hit">
            <div class="number">@_StatResponse.Response.Stats.TotalAuthoritative.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalAuthoritative)</div>
            <div class="title">Authoritative</div>
        </div>

        <div class="stats-item recursions">
            <div class="number">@_StatResponse.Response.Stats.TotalRecursive.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalRecursive)</div>
            <div class="title">Recursive</div>
        </div>

        <div class="stats-item cache-hit">
            <div class="number">@_StatResponse.Response.Stats.TotalCached.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalCached)</div>
            <div class="title">Cached</div>
        </div>

        <div class="stats-item blocked">
            <div class="number">@_StatResponse.Response.Stats.TotalBlocked.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">@GetPrecentage(_StatResponse.Response.Stats.TotalQueries,_StatResponse.Response.Stats.TotalBlocked)</div>
            <div class="title">Blocked</div>
        </div>

        <div class="stats-item clients">
            <div class="number">@_StatResponse.Response.Stats.TotalClients.ToString("N0").EnglishToPersianNumbers()</div>
            <div class="percentage">&nbsp;</div>
            <div class="title">Clients</div>
        </div>
    </div>
    <div>
        <BitChart Config="_lineChartConfig" @ref="_lineChart" />
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div>
                <BitChart Config="_pieChartConfigQueryType" @ref="_pieChartQueryType" />
            </div>
            <div>
                <BitChart Config="_pieChartConfigQueryResponse" @ref="_pieChartQueryResponse" />
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <h4>Top Domains</h4>
            @foreach (var domain in _StatResponse.Response.Topdomains)
            {
                <div class="row">
                    <div class="col-9">
                        <BitLabel>@domain.Name</BitLabel>
                    </div>
                    <div class="col-3">
                        <BitLabel>@domain.Hits</BitLabel>
                    </div>
                </div>
            }
            <hr>
            <h4>Top Clients</h4>
            @foreach (var client in _StatResponse.Response.Topclients)
            {
                <div class="row">
                    <div class="col-9">
                        <BitLabel>@client.Name</BitLabel>
                    </div>
                    <div class="col-3">
                        <BitLabel>@client.Hits</BitLabel>
                    </div>
                </div>
            }
        </div>
    </div>
}