@page "/tools/dnslookup"

@inject IDNSLookUpRepository _DNSLookUpRepository
@inject IStringLocalizer<Resource> localizer
<ToolsForm Header="@localizer["DNSLookup"]" Model="@hostOrIPAddress" OnValidSubmit="OnValidSubmit" IsProgressing="@isProgressing" Result="@result">
    <Body>
        <BitMessageBar MessageBarType="BitMessageBarType.Info">
            <BitLabel>رکورد DNS را جستجو کنید</BitLabel>
            <BitLabel>دی‌ان‌اس ها از سرور عمومی گوگل به آدرس 8.8.8.8 پرس و جو میشوند</BitLabel>
        </BitMessageBar>
        <div class="col-lg-6">
            <BitTextField Label="@localizer["HostOrIPAddress"]" Class="dir-ltr" Placeholder="dnslab.ir" @bind-Value="@hostOrIPAddress.HostOrIPAddress" />
        </div>
        <div class="col-lg-2">
            <BitDropDown Label="نوع رکورد"
                         Items="DNSQueryTypes"
                         @bind-Value="queryType"
                         Placeholder="نوع رکورد را انتخاب نمایید">
            </BitDropDown>
        </div>
    </Body>
</ToolsForm>