@page "/tools/port"

@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer

<ToolsForm Header="@localizer["PortChecker"]" Model="@hostOrIPAddressAndPort" OnValidSubmit="OnValidSubmit" IsProgressing="@isProgressing" Result="@result">
    <Body>
        <BitMessageBar MessageBarType="BitMessageBarType.Info">
            <BitLabel>آزمایش می کند که آیا پورت TCP در IP مشخص باز شده است یا خیر</BitLabel>
        </BitMessageBar>
        <div class="col-lg-6">
            <BitTextField Label="@localizer["HostOrIPAddress"]" Class="dir-ltr" Placeholder="@IPDTO.IPv4" @bind-Value="@hostOrIPAddressAndPort.HostOrIPAddress" />
        </div>
        <div class="col-lg-2">
            <BitTextField Label="@localizer["PortNumber"]" Class="dir-ltr" Placeholder="80" @bind-Value="@hostOrIPAddressAndPort.Port" />
        </div>
    </Body>
</ToolsForm>